# Generic
tags*
**/tags*
**/__pycache__
**/**/__pycache__

# Environment-specific configs
.docker/prod/certbot/conf
.docker/prod/certbot/conf/*
.docker/prod/certbot/www
.docker/prod/certbot/www/*
.docker/prod/keys/*
.docker/prod/keys

.docker/local/nginx/certs/*

# Node modules
**/node_modules
app/frontend/node_modules
app/frontend/node_modules/*

# Python Pip Packages
app/backend/lib

# Build files in main dir
./local.yml
./prod.yml
*.Dockerfile
