# Generic
tags*
**/tags*
**/__pycache__
**/**/__pycache__

# Conda
environment.yml

# Venv
app/backend/pyvenv.cfg

# Environment-specific configs
# Production
.docker/prod/certbot/conf
.docker/prod/certbot/conf/*
.docker/prod/certbot/www
.docker/prod/certbot/www/*
.docker/prod/keys/*
.docker/prod/keys
# Local
.docker/local/nginx/certs/*

# Node modules
**/node_modules
app/frontend/node_modules
app/frontend/node_modules/*

# Python Pip Packages
app/backend/lib
app/backend/bin
app/backend/get-pip.py

# Django-generated media
app/media/admin
# DRF, yet another swagger GUI
app/media/drf-yasg

# Build files in main dir
.dockerignore
local.yml
prod.yml
*.Dockerfile
