/* BEGIN - Table of Contents ==================================== *

   +   Main Layout
     +   Article Meta

 * END   - Table of Contents ==================================== */

/* # Main Layout */
.main_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 2em;
}
.main {
  width: 66%;
  min-width: 66%;
  max-width: 66%;
}
.aside {
  width: 33%;
  min-width: 33%;
  max-width: 33%;
}
@media screen and (max-width: 959px) {
  .main_wrapper {
    flex-direction: column;
  }
  .main,
  .aside {
    width: 100% !important;
  }
}


/* # Article Meta */

.article__meta {
  margin-bottom: 3em;
}

.article__meta span {
  width: 100%;
  font-size: 0.8em;
  display: block;
}

