/* BEGIN - Table of Contents ==================================== *

   +   Comments Section
     *   Main Wrapper
       -   Body Wrapper
       -   Vote Wrapper
     *   Comment Form

 * END   - Table of Contents ==================================== */

/* # Comments Section */

.comments_section {
  position: sticky;
  top: 2em;
  width: 100%;
  padding-bottom: 2em;
}

.comments_section .main_wrapper:first-child {
  margin-top: 0;
}

.comments_section img {
  margin: 5px 0;
  border-radius: 4px;
}

/* ## Main Wrapper */

.comment_form_wrapper::before,
.main_wrapper::before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  box-shadow: 0 0 2px 0 var(--comment-shadow);
  border-radius: var(--comment-radius);
}

.comment_form_wrapper,
.main_wrapper {
  font-size: 0.8em;
  position: relative;
  margin: 1em 0;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  border-radius: var(--comment-radius);
}

.comment_form_wrapper {
  background-color: var(--comment-content);
}

/* ### Body Wrapper */
.body_wrapper {
  width: 100%;
  border-radius: var(--comment-radius) 0 0 var(--comment-radius);
}

.body_row_1 {
  padding: 0.5em 1em;
  border-radius: var(--comment-radius) 0 0 0;
  box-shadow: 0 1px 1px 0 var(--comment-shadow);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.body_col_2 {
  width: 50px;
}

.reply_button {
  position: relative;
  color: var(--loosed-black);
  width: 50px;
  height: auto;
  cursor: pointer;
  text-align: center;
  line-height: 20px;
  font-size: 18px;
  padding: 4px 0 6px 0;
  border-radius: 5px;
  box-shadow: 0 0 2px 0 var(--comment-shadow);
}

.reply_button::before {
  z-index: -1;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 5px;
  opacity: 0;
  box-shadow: 0 0 3px 0 var(--comment-shadow);
  transition: all var(--loosed-transition-medm) ease;
}

.reply_button:hover::before {
  opacity: 1;
}

.body_row_2 {
  padding: 0.5em 1em;
  border-radius: 0 0 0 var(--comment-radius);
}

.comment_author {
  font-weight: bold;
  margin-bottom: 5px
}

.comment_author,
.comment_date {
  width: 100%;
  display: block;
}

.comment_date {
  border-bottom: 1px solid bottom;
}


/* ### Vote Wrapper */
.vote_wrapper::before {
  box-shadow: -1px 0 1px 0 var(--comment-shadow);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  border-radius: 0 var(--comment-radius) var(--comment-radius) 0;
}

.vote_wrapper {
  padding: 1em 0;
  position: relative;
  border-radius: 0 var(--comment-radius) var(--comment-radius) 0;
  background-color: var(--comment-content);
  display: flex;
  flex-direction: column;
  width: 50px;
}

.vote_count,
.upvote_button,
.downvote_button {
  display: flex;
  align-items: center;
  width: 100%;
  height: 25px;
  margin: 0 auto;
}

.upvote_button,
.downvote_button {
  cursor: pointer;
}

.count_text,
.upvote_button span,
.downvote_button span {
  text-align: center;
  align-content: stretch;
  width: 100%;
}

/* ## Comment Form */
.comment_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.comment_form input::placeholder {
  font-family: 'JetBrains Mono', monospace;
}

.comment_form input:not(.comment_submit) {
  outline: none;
  border: none;
  box-shadow: inset 0 0 1px 0 var(--input-outline);
  padding: 0.5em;
  margin-bottom: 4px;
}

.comment_form textarea {
  outline: none;
  border: none;
  box-shadow: inset 0 0 1px 0 var(--input-outline);
  padding: 0.5em;
  font-family: 'JetBrains Mono', monospace;
  margin-bottom: 4px;
}

.comment_form .comment_submit {
  padding: 0.5em;
}


