.comments_section {
  position: sticky;
  top: 2em;
  width: 100%;
}

.main_wrapper {
  margin: 1em 0;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.body_wrapper {
  background: var(--comment-head);
  padding: 1em;
  width: 100%;
  border-radius: var(--comment-radius) 0 0 var(--comment-radius);
}

.vote_wrapper {
  border-radius: 0 var(--comment-radius) var(--comment-radius) 0;
  display: flex;
  flex-direction: column;
  background: var(--comment-vote);
  width: 50px;
  padding: 1em 0;
}

.comment_author,
.comment_date {
  width: 100%;
  display: block;
}

.vote_count,
.upvote_button,
.downvote_button {
  display: flex;
  align-content: stretch;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.count_text,
.upvote_button span,
.downvote_button span {
  text-align: center;
  align-content: stretch;
  width: 100%;
}
