/* # Scroll To Top ----------------------- */
.scrollTop {
  transition: all var(--loosed-transition-slow) ease;
  cursor: pointer;
  height: 80px;
  width: 25px;
  right: 0;
  bottom: 5px;
  position: fixed;
  padding: 12px 0;
  text-align: center;
  z-index: 10;
  background-color: var(--scroll-top-button);
  backdrop-filter: blur(5px);
  transform: rotate(0);
  border-radius: 5px 0 0 5px;
}
.scrollTop p {
  width: 70px;
  position: relative;
  right: 22px;
  bottom: -10px;
  transition: transform var(--loosed-transition-medm) ease-in;
  white-space: nowrap;
  transition-delay: 0;
  transform: rotate(-90deg);
  font-weight: black;
  padding-bottom: 1px;
  color: var(--loosed-black);
}
.scrollTop:hover p {
  color: var(--loosed-highlight-1);
}
.scrollTop:active {
  background-color: var(--scroll-top-active);
}
.scroll_top_label {
  font-weight: 800;
}
.scrollTop svg {
  -webkit-animation: bounce 1s linear;
  -moz-animation: bounce 1s linear;
  animation: bounce 1s linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  fill: var(--loosed-black);
  height: 17px;
  width: 17px;
  transform: translateY(0);
  margin-top: -10px;
}
.scrollTop:hover svg {
  fill: var(--loosed-highlight-1);
}
.footer .hr {
  height: 1px !important;
}

.footer p {
  word-wrap: normal;
  text-align: center;
  word-break: keep-all;
}
.footer a:hover {
  color: var(--loosed-highlight-1);
}
.link_row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1em 2em;
  max-width: 960px;
  margin: auto;
  text-align: center;
  justify-content: space-between;
  line-height: 200%;
}
.link_row p {
  margin-bottom: 0;
}
.footer {
  background: transparent;
  margin-top: auto;
  padding-top: 6em;
}
.webrings_row {
  display: flex;
  flex-direction: row;
  padding: 2em;
  border-top: 1px solid var(--webring-top-border) !important;
  background-color: var(--webring-background);
}
.webring {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.geekring {
  padding: 1em 2em;
}
.geekring_row {
  max-width: 350px;
  text-align: center;
  font-size: var(--small);
}
.icon:hover path {
  stroke: var(--loosed-highlight-1);
}
.icon path {
  stroke: var(--loosed-black);
}

.link {
  height: 24px;
  margin-bottom: 15px;
  display: block;
}
.link p {
  color: var(--footer-icon);
}
.link p,
.link svg {
  line-height: 24px;
  display: inline-flex;
  vertical-align: middle;
}
.link svg {
  padding: 0.25em;
  fill: var(--footer-icon);
  margin-right: 0.5em;
  margin-bottom: 1.5px;
}

.link:hover svg {
  fill: var(--loosed-highlight-1);
}


@media screen and (max-width: 767px) {
  .link,
  .webring {
    width: 100%;
  }
  .link_row,
  .webrings_row {
    flex-direction: column;
  }
  .geekring_row {
    width: 100%;
  }
  .webring:last-child {
    margin: 2em auto;
    padding: 2em 0 0 0;
    max-width: 100px;
    border-top: 1px solid var(--webring-center-border);
  }
}
@media screen and (min-width: 768px) {
  .webring:last-child {
    border-left: 1px solid var(--webring-center-border);
  }
}

@-moz-keyframes bounce {
  0% { -moz-transform: translateY(0); }
  100% { -moz-transform: translateY(5px); }
}
@-webkit-keyframes bounce {
  0% { -webkit-transform: translateY(0); }
  100% { -webkit-transform: translateY(5px); }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
}
