/* # Scroll To Top ----------------------- */
.scrollTop {
  border: none;
  box-shadow: 0 0 1px 1px var(--scroll-top-outline), inset 0 0 1px 0 var(--scroll-top-outline);
  cursor: pointer;
  height: 50px;
  width: 50px;
  right: 2px;
  bottom: 2px;
  position: fixed;
  text-align: center;
  z-index: 10;
  background-color: var(--scroll-top-bg);
  backdrop-filter: blur(5px);
  transform: rotate(0);
  font-size: 100%;
  border-radius: 100% 100% 0 100%;
}

.scrollTop:hover {
  background-color: var(--scroll-top-hover);
}
.scrollTop:active {
  box-shadow: 0 0 1px 1px var(--loosed-highlight-1), 0 0 1px 0 var(--loosed-highlight-1);

  & svg {
    fill: var(--loosed-highlight-1);
  }

  & span {
    color: var(--loosed-highlight-1);
  }
}
.scrollTop svg {
  -webkit-animation: bounce 5s linear;
  -moz-animation: bounce 5s linear;
  animation: bounce 5s linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
  fill: var(--scroll-top-svg);
  height: 25px;
  width: 25px;
  transform: translateY(4px);
  margin-top: -2px;
}
.footer .hr {
  height: 1px !important;
}

.footer p {
  word-wrap: normal;
  text-align: center;
  word-break: keep-all;
}
.footer a {
  text-decoration: underline 2px;
  transition: all var(--loosed-transition-slow) ease;
  text-decoration-color: transparent;
  text-underline-offset: var(--offset, 0);
}
.footer a:hover,
.footer a:focus {
  --offset: 2px;
  font-weight: bold;
  color: var(--loosed-highlight-1);
  text-decoration-color: var(--loosed-highlight-1);
}
.link_row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1em 2em;
  max-width: 960px;
  margin: auto;
  text-align: center;
  justify-content: space-between;
  line-height: 200%;
}
.link_row p {
  margin-bottom: 0;
}
.footer {
  background: transparent;
  margin-top: auto;
  padding-top: 6em;
}
.webrings_row {
  display: flex;
  flex-direction: row;
  padding: 2em;
  border-top: 1px solid var(--webring-top-border) !important;
  background-color: var(--webring-background);
}
.webring {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.geekring {
  padding: 1em 2em;
}
.geekring_row {
  max-width: 350px;
  text-align: center;
  font-size: var(--small);
}
.icon:hover path,
a:focus .icon path {
  stroke: var(--loosed-highlight-1);
}
.icon path {
  stroke: var(--loosed-black);
}

.link {
  height: 24px;
  margin-bottom: 15px;
  display: block;
}
.link p {
  color: var(--footer-icon);
}
.link p,
.link svg {
  line-height: 24px;
  display: inline-flex;
  vertical-align: middle;
}
.link svg {
  padding: 0.25em;
  fill: var(--footer-icon);
  margin-right: 0.5em;
  margin-bottom: 2px;
}

.link a:hover svg,
.link a:focus svg {
  fill: var(--loosed-highlight-1);
}


@media screen and (max-width: 767px) {
  .link,
  .webring {
    width: 100%;
  }
  .link_row,
  .webrings_row {
    flex-direction: column;
  }
  .geekring_row {
    width: 100%;
  }
  .webring:last-child {
    margin: 2em auto;
    padding: 2em 0 0 0;
    max-width: 100px;
    border-top: 1px solid var(--webring-center-border);
  }
}
@media screen and (min-width: 768px) {
  .webring:last-child {
    border-left: 1px solid var(--webring-center-border);
  }
}

@-moz-keyframes bounce {
  0% { -moz-transform: translateY(4px); }
  5% { -moz-transform: translateY(-1px); }
  10% { -moz-transform: translateY(4px); }
  15% { -moz-transform: translateY(-1px); }
  20% { -mox-transform: translateY(4px); }
  100% { -moz-transform: translateY(4px); }
}
@-webkit-keyframes bounce {
  0% { -webkit-transform: translateY(4px); }
  5% { -webkit-transform: translateY(-1px); }
  10% { -webkit-transform: translateY(4px); }
  15% { -webkit-transform: translateY(-1px); }
  20% { -webkit-transform: translateY(4px); }
  100% { -webkit-transform: translateY(4px); }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  5% {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
  }
  10% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  15% {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
  }
  20% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
}
