/* BEGIN - Table of Contents ==================================== *

   +   Themes --------------------------------
     *   Global Color Palette
   +   Other Variables -----------------------
     *   Transition Speeds
     *   Fonts
   +   Scrollbar -----------------------------
   +   Default Theme
     *   Table of Contents
     *   article.js
     *   comment.js
     *   card.js
     *   menu_toggle.js
     *   menu_overlay.js
     *   dark_mode_toggle.js
     *   footer.js
     *   donate.js
     *   pre.js
   +   Dark Theme
     *   Table of Contents
     *   Global Color Palette
     *   article.js
     *   comments.js
     *   card.js
     *   menu_toggle.js
     *   menu_overlay.js
     *   dark_mode_toggle
     *   footer.js
     *   donate.js
     *   pre.js
   +   HTML + body tags
   +   Headings (H1, H2)
   +   Horizontal Rule
   +   Paragraph Styles
   +   Lists
   +   Links
   +   Code
   +   Toggle Class
   +   Box-Sizing
   +   Table of Contents

 * END   - Table of Contents ==================================== */

/* Import <code> tag theme for hljs */
@import './code_themes/prism-base16-brewer.dark.css';
@import './code_themes/prism-extras.css';

/* Used for paragraph link underline offset */
@property --offset {
  syntax: '<length>';
  inherits: false;
  initial-value: 5px;
}

:root {
/* # Themes -------------------------------- */
/* ## Global Color Palette */
  --loosed-black: #1b1b1b;
  --loosed-white: #f3f3f3;
  --loosed-highlight-1: #f93e17;
  --loosed-highlight-1: rgba(235,41,2,0.95);

/* # Other Variables ----------------------- */
/* ## Transition Speeds */
  --loosed-transition-fast: 50ms;
  --loosed-transition-medm: 200ms;
  --loosed-transition-slow: 500ms;
  --loosed-transition-slower: 800ms;
/* ## Fonts */
  --small: 0.9em;
  --normal: 1em;
  --medium: 1.25em;
  --medium-large: 1.5em;
  --large: 2em;
  --x-large: 2.5em;
}


/* # Default Theme
 * -------------------------------- */
.default {
/* ## Table of Contents */
  --toc-bg: rgba(0,0,0,0.025);
  --toc-shadow: rgba(0,0,0,0.5);
  --toc-hr: rgba(0,0,0,0.075);

/* ## article.js */
  --link-underline: rgba(0,0,0,0.5);

/* ## comment.js */
  --comment-content: rgba(0,0,0,0.02);
  --comment-shadow: rgba(0,0,0,0.15);
  --reply-shadow: rgba(0,0,0,0.1);
  --input-outline: rgba(0,0,0,0.5);

/* ## card.js */
  --card-shadow: rgba(0,0,0,0.5);
  --card-hover-background: rgba(0,0,0,0.15);
  --card-active: rgba(0,0,0,0.35);

/* ## menu_toggle.js */
  --menu-toggle-background: rgba(0,0,0,0.2);
  --menu-toggle-box-shadow: rgba(0,0,0,0.4);
  --menu-border: rgba(0,0,0,0.7);
  --menu-hover-border: rgba(0,0,0,0.8);

/* ## menu_overlay.js */
  --overlay-background-color: rgba(255,255,255,0.4);
  --menu-box-shadow: rgba(0,0,0,0.1);
  --menu-background-color: rgba(255,255,255,0.85);
  --button-box-shadow: rgba(0,0,0,0.7);

/* ## dark_mode_toggle.js */
  --light-display: none;
  --dark-display: flex;
  --toggle-hover-glow: rgba(50, 50, 150, 80%);
  --normal-background: rgba(0,155,255,0.2);
  --hover-background: rgba(0,155,255,0.4);

/* ## footer.js */
  --webring-background: rgba(0,0,0,0.05);
  --webring-top-border: rgba(0,0,0,0.4);
  --webring-center-border: rgba(0,0,0,0.2);
  --scroll-top-button: rgba(255,255,255,0.4);
  --scroll-top-hover: rgba(0,0,0,0.8);
  --scroll-top-active: rgba(255,255,255,0.3);
  --footer-icon: var(--loosed-black);

/* ## donate.js */
  --donate-menu-background-color: rgba(255,255,255,0.9);
  --donate-button-box-shadow: rgba(255,255,255,0.8);

/* ## pre.js */
  --code-filter: invert(0.95);
  --copy-button-svg: rgba(0,0,0,0.2);
  --copy-button-background: rgba(0,0,0,0.01);
  --copy-button-hover: rgba(0,0,0,0.05);
  --copy-button-hover-color: rgba(0,0,0,0.6);
}

/* # Dark Theme
 * ---------------------------------- */
.dark {
/* ## Table of Contents */
  --toc-bg: rgba(255,255,255,0.04);
  --toc-shadow: rgba(255,255,255,0.5);
  --toc-hr: rgba(255,255,255,0.05);

/* ## Global Color Palette */
  --loosed-white: #191919;
  --loosed-black: #f3f3f3;
  --main-text-color: #e0e0e0;

/* ## article.js */
  --link-underline: rgba(255,255,255,0.35);

/* ## comments.js */
  --comment-content: rgba(255,255,255,0.05);
  --comment-shadow: rgba(255,255,255,0.2);
  --reply-shadow: rgba(255,255,255,0.2);
  --input-outline: rgba(255,255,255,0.75);

/* ## card.js */
  --card-shadow: rgba(0,0,0,0.75);
  --card-hover-background: rgba(255,255,255,0.15);
  --card-active: rgba(0,0,0,1);

/* ## menu_toggle.js */
  --menu-toggle-background: rgba(255,255,255,0.2);
  --menu-toggle-box-shadow: rgba(200,30,40,0.35);
  --menu-border: rgba(255,255,255,0.7);
  --menu-hover-border: rgba(255,255,255,0.8);

/* ## menu_overlay.js */
  --overlay-background-color: rgba(0,0,0,0.5);
  --menu-background-color: rgba(0,0,0,0.85);
  --menu-box-shadow: rgba(255,255,255,0.1);
  --button-box-shadow: rgba(255,255,255,0.3);

/* ## dark_mode_toggle */
  --light-display: flex;
  --dark-display: none;
  --toggle-hover-glow: rgba(80, 50, 0, 90%);
  --normal-background: rgba(255,185,0,0.1);
  --hover-background: rgba(255,185,0,0.2);

/* ## footer.js */
  --webring-top-border: rgba(255,255,255,0.5);
  --webring-center-border: rgba(255,255,255,0.2);
  --webring-background: rgba(255,255,255,0.05);
  --scroll-top-button: rgba(0,0,0,0.15);
  --scroll-top-hover: rgba(255,255,255,0.7);
  --scroll-top-active: rgba(0,0,0,0.8);
  --footer-icon: var(--loosed-black);

/* ## donate.js */
  --donate-menu-background-color: rgba(0,0,0,0.85);
  --donate-button-box-shadow: rgba(0,0,0,1);

/* ## pre.js */
	--code-filter: none;
  --copy-button-svg: rgba(255,255,255,0.2);
  --copy-button-background: rgba(255,255,255,0.05);
  --copy-button-hover: rgba(255,255,255,0.06);
  --copy-button-hover-color: rgba(255,255,255,0.4);
}


/* # HTML + body tags */
html,
body,
#__next {
  padding: 0;
  margin: 0;
  font-size: 100%;
  min-height: 100vh;
  font-family: 'JetBrains Mono', monospace;
}

:focus {
  outline: none;
}

/* # Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--loosed-black);
}
h1,
h2 {
  font-family: 'Shrikhand', 'Arial', sans-serif;
  margin: 0 auto 5px auto;
  font-weight: 400;
}

h2 {
  font-size: 1.5em;
  line-height: 1.25em;
}

/* # Horizontal Rule */
hr {
  border: solid var(--loosed-black);
  border-width: 1px 0 0 0;
  margin: 3em 0;
}

/* # Paragraph Styles */
p {
  margin: 0 auto 1.25em auto;
  font-size: 1em;
}
p,
li,
span {
  color: var(--main-text-color);
}

/* # Lists */
ol,
ul {
  padding-inline-start: 2em;
}

/* # Links */
a {
  color: var(--loosed-highlight-1);
  text-decoration: none;
}

/* # Code */
pre {
  max-width: 100%;
}

input,
textarea {
  background-color: var(--loosed-white);
  color: var(--main-text-color);
}

/* # Toggle Class */
.hidden {
  display: none !important;
}

/* # Comments */
.indent_1 {
  padding-left: 20px !important;
}
.indent_2 {
  margin-left: 40px !important;
}
.indent_3 {
  margin-left: 60px !important;
}


/* # Box-Sizing */
* {
  box-sizing: border-box;
}

/* # Scrollbar ----------------------------- */
pre::-webkit-scrollbar,
pre::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 0 0 7.5px 7.5px;
  height: 5px;
}
pre::-webkit-scrollbar-thumb {
  background-color: rgba(255,255,255,0.2);
  border-radius: 7.5px;
}

