/* BEGIN - Table of Contents ==================================== *

   +   Themes --------------------------------
     *   Global Color Palette
   +   Other Variables -----------------------
     *   Transition Speeds
     *   Fonts
   +   Scrollbar -----------------------------
   +   Default Theme
     *   Table of Contents
     *   article.js
     *   comment.js
     *   card.js
     *   menu_toggle.js
     *   menu_overlay.js
     *   dark_mode_toggle.js
     *   footer.js
     *   donate.js
     *   pre.js
   +   Dark Theme
     *   Table of Contents
     *   Global Color Palette
     *   article.js
     *   comments.js
     *   card.js
     *   menu_toggle.js
     *   menu_overlay.js
     *   dark_mode_toggle
     *   footer.js
     *   donate.js
     *   pre.js
   +   HTML + body tags
   +   Headings (H1, H2)
   +   Horizontal Rule
   +   Paragraph Styles
   +   Lists
   +   Links
   +   Code
   +   Toggle Class
   +   Box-Sizing
   +   Table of Contents

 * END   - Table of Contents ==================================== */

/* Import <code> tag theme for hljs */
@import './code_themes/prism-base16-brewer.dark.css';
@import './code_themes/prism-extras.css';

/* Used for paragraph link underline offset */
@property --offset {
  syntax: '<length>';
  inherits: false;
  initial-value: 5px;
}

/* LIGHT */
$l-black: #1b1b1b;
$l-white: #f3f3f3;

$l-highlight-1: #b61115;
$l-highlight-1-rgb: rgba($l-highlight-1, 0.95);

$l-main-box-shadow: rgba(0,0,0,0.1);

$l-toc-header-bg: rgba(255,255,255,0.5);
$l-toc-header-shadow: rgba(0,0,0,0.15);
$l-toc-nav-bg: rgba(255,255,255,0.4);
$l-toc-shadow: rgba(0,0,0,0.5);
$l-toc-hr: rgba(0,0,0,0.075);
$l-anchor-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='%23b61115' viewBox='0 0 24 24'%3E%3Cpath fill-rule='evenodd' d='M8 4v4H4v2h4v4H4v2h4v4h2v-4h4v4h2v-4h4v-2h-4v-4h4V8h-4V4h-2v4h-4V4H8Zm6 10v-4h-4v4h4Z' clip-rule='evenodd'/%3E%3C/svg%3E");

$l-main-text-color: #333;

$l-comment-heading: rgba(0,0,0,0.025);
$l-comment-content: rgba(255,255,255,0.5);
$l-comment-shadow: rgba(0,0,0,0.15);
$l-comment-input-bg: rgba(0,0,0,0.05);
$l-reply-shadow: rgba(0,0,0,0.075);
$l-input-outline: rgba(0,0,0,0.5);
$l-indent-1: rgba(0,0,0,0.1);
$l-indent-2: rgba(0,0,0,0.2);
$l-indent-3: rgba(0,0,0,0.3);
$l-indent-4: rgba(0,0,0,0.4);
$l-indent-5: rgba(0,0,0,0.5);

$l-card-shadow: rgba(0,0,0,0.5);
$l-card-hover-background: rgba(0,0,0,0.15);
$l-card-active: rgba(0,0,0,0.35);

$l-menu-toggle-background: rgba(0,0,0,0.2);
$l-menu-toggle-box-shadow: rgba(0,0,0,0.4);
$l-menu-border: rgba(0,0,0,0.7);
$l-menu-hover-border: rgba(0,0,0,0.8);

$l-overlay-background-color: rgba(255,255,255,0.4);
$l-menu-box-shadow: rgba(0,0,0,0.1);
$l-menu-background-color: rgba(255,255,255,0.95);
$l-button-box-shadow: rgba(0,0,0,0.7);

$l-light-display: none;
$l-dark-display: flex;
$l-toggle-hover-glow: rgba(50, 50, 150, 80%);
$l-normal-background: rgba(0,155,255,0.2);
$l-hover-background: rgba(0,155,255,0.4);

$l-footer-border: rgba(0,0,0,0.4);
$l-webring-background: rgba(0,0,0,0.05);
$l-webring-center-border: rgba(0,0,0,0.2);
$l-scroll-top-bg: rgba(255,255,255,0.4);
$l-scroll-top-shadow: rgba(0,0,0,0.1);
$l-scroll-top-svg: rgba(0,0,0,0.5);
$l-scroll-top-hover: $l-highlight-1-rgb;
$l-footer-icon: $l-black;
$l-link-section-bg: rgba(255,255,255,1);

$l-donate-menu-background-color: rgba(255,255,255,0.9);
$l-donate-button-box-shadow: rgba(255,255,255,0.8);

$l-code-filter: invert(0.95);
$l-code-highlight: rgba(225,155,35,1);
$l-code-highlight-bg: rgba(225,155,35,0.25);
$l-code-inserted: rgba(248,52,155,1);
$l-code-inserted-bg: rgba(248,52,155,0.25);
$l-code-deleted: rgba(92,248,245,1);
$l-code-deleted-bg: rgba(92,248,245,0.35);
$l-copy-button-svg: rgba(0,0,0,0.2);
$l-copy-button-background: rgba(0,0,0,0.01);
$l-copy-button-hover: rgba(0,0,0,0.05);
$l-copy-button-hover-color: rgba(0,0,0,0.6);

$l-caption-leader: rgba(0,0,0,0.75);

$l-scrollbar-color: rgba(0,0,0,0.05);
$l-scrollbar-thumb: rgba(0,0,0,0.3);
$l-scrollbar-pre-color: rgba(255,255,255,0.05);
$l-scrollbar-pre-thumb: rgba(255,255,255,0.35);
$l-scroll-area-border: rgba(0,0,0,0.1);
$l-scroll-area-background: rgba(255,255,255,0.65);

$l-table-separator: rgba(0,0,0,0.25);

$l-blockquote-bg: rgba(255,255,255,0.5);
$l-blockquote-border: #888;
$l-blockquote-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 24 24'%3E%3Cg fill='none'%3E%3Cpath d='M24 0v24H0V0h24ZM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018Zm.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022Zm-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01l-.184-.092Z'/%3E%3Cpath fill='%23555555' d='M8.4 6.2a1 1 0 0 1 1.2 1.6c-1.564 1.173-2.46 2.314-2.973 3.31A3.5 3.5 0 1 1 4 14.558a7.565 7.565 0 0 1 .508-3.614C5.105 9.438 6.272 7.796 8.4 6.2Zm9 0a1 1 0 0 1 1.2 1.6c-1.564 1.173-2.46 2.314-2.973 3.31A3.5 3.5 0 1 1 13 14.558a7.565 7.565 0 0 1 .508-3.614c.598-1.506 1.764-3.148 3.892-4.744Z'/%3E%3C/g%3E%3C/svg%3E");

$l-live-button-icon: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'%3E%3Cpath fill='%23ffffff' d='M6.343 4.938a1 1 0 0 1 0 1.415a8.003 8.003 0 0 0 0 11.317a1 1 0 1 1-1.414 1.414c-3.907-3.906-3.907-10.24 0-14.146a1 1 0 0 1 1.414 0Zm12.732 0c3.906 3.907 3.906 10.24 0 14.146a1 1 0 0 1-1.415-1.414a8.003 8.003 0 0 0 0-11.317a1 1 0 0 1 1.415-1.415ZM9.31 7.812a1 1 0 0 1 0 1.414a3.92 3.92 0 0 0 0 5.544a1 1 0 1 1-1.415 1.414a5.92 5.92 0 0 1 0-8.372a1 1 0 0 1 1.415 0Zm6.958 0a5.92 5.92 0 0 1 0 8.372a1 1 0 0 1-1.414-1.414a3.92 3.92 0 0 0 0-5.544a1 1 0 0 1 1.414-1.414Zm-4.186 2.77a1.5 1.5 0 1 1 0 3a1.5 1.5 0 0 1 0-3Z'/%3E%3C/svg%3E%0A");

/* DARK */
$d-black: #f3f3f3;
$d-white: #1b1b1b;

$d-main-box-shadow: rgba(255,255,255,0.2);

$d-highlight-1: #f93e17;
$d-highlight-1-rgb: rgba($d-highlight-1,0.95);

$d-toc-header-bg: rgba(255,255,255,0.05);
$d-toc-header-shadow: rgba(0,0,0,1);
$d-toc-nav-bg: rgba(255,255,255,0.05);
$d-toc-shadow: rgba(255,255,255,0.5);
$d-toc-hr: rgba(255,255,255,0.05);
$d-anchor-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='%23f93e17' viewBox='0 0 24 24'%3E%3Cpath fill-rule='evenodd' d='M8 4v4H4v2h4v4H4v2h4v4h2v-4h4v4h2v-4h4v-2h-4v-4h4V8h-4V4h-2v4h-4V4H8Zm6 10v-4h-4v4h4Z' clip-rule='evenodd'/%3E%3C/svg%3E");

$d-main-text-color: #e0e0e0;

$d-comment-heading: rgba(255,255,255,0.05);
$d-comment-content: rgba(0,0,0,0.05);
$d-comment-shadow: rgba(0,0,0,1);
$d-comment-input-bg: rgba(0,0,0,0.3);
$d-reply-shadow: rgba(255,255,255,0.05);
$d-input-outline: rgba(0,0,0,1);
$d-indent-1: rgba(255,255,255,0.1);
$d-indent-2: rgba(255,255,255,0.2);
$d-indent-3: rgba(255,255,255,0.3);
$d-indent-4: rgba(255,255,255,0.4);
$d-indent-5: rgba(255,255,255,0.5);

$d-card-shadow: rgba(0,0,0,0.75);
$d-card-hover-background: rgba(255,255,255,0.15);
$d-card-active: rgba(0,0,0,1);

$d-menu-toggle-background: rgba(255,255,255,0.2);
$d-menu-toggle-box-shadow: rgba(200,30,40,0.35);
$d-menu-border: rgba(255,255,255,0.7);
$d-menu-hover-border: rgba(255,255,255,0.8);

$d-overlay-background-color: rgba(0,0,0,0.5);
$d-menu-background-color: rgba(0,0,0,0.95);
$d-menu-box-shadow: rgba(255,255,255,0.1);
$d-button-box-shadow: rgba(255,255,255,0.3);

$d-light-display: flex;
$d-dark-display: none;
$d-toggle-hover-glow: rgba(80, 50, 0, 90%);
$d-normal-background: rgba(255,185,0,0.1);
$d-hover-background: rgba(255,185,0,0.2);

$d-footer-border: rgba(255,255,255,0.5);
$d-webring-background: rgba(255,255,255,0.05);
$d-webring-center-border: rgba(255,255,255,0.2);
$d-scroll-top-bg: rgba(0,0,0,0.05);
$d-scroll-top-shadow: rgba(255,255,255,0.1);
$d-scroll-top-svg: rgba(255,255,255,0.7);
$d-scroll-top-hover: $d-highlight-1-rgb;
$d-footer-icon: $d-black;
$d-link-section-bg: rgba(0,0,0,0.25);

$d-donate-menu-background-color: rgba(0,0,0,0.85);
$d-donate-button-box-shadow: rgba(0,0,0,1);

$d-code-filter: none;
$d-code-highlight: rgb(30,100,220);
$d-code-highlight-bg: rgba(30,100,220,0.25);
$d-code-inserted: rgb(7,203,100);
$d-code-inserted-bg: rgba(7,203,100,0.25);
$d-code-deleted: rgb(163,7,10);
$d-code-deleted-bg: rgba(163,7,10,0.35);
$d-copy-button-svg: rgba(255,255,255,0.2);
$d-copy-button-background: rgba(255,255,255,0.05);
$d-copy-button-hover: rgba(255,255,255,0.06);
$d-copy-button-hover-color: rgba(255,255,255,0.4);

$d-caption-leader: rgba(255,255,255,0.75);

$d-scrollbar-color: rgba(255,255,255,0.05);
$d-scrollbar-thumb: rgba(255,255,255,0.35);
$d-scrollbar-pre-color: rgba(255,255,255,0.05);
$d-scrollbar-pre-thumb: rgba(255,255,255,0.35);
$d-scroll-area-border: rgba(255,255,255,0.15);
$d-scroll-area-background: rgba(0,0,0,0.25);

$d-table-separator: rgba(255,255,255,0.25);

$d-blockquote-bg: rgba(0,0,0,0.5);
$d-blockquote-border: #ddd;
$d-blockquote-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24'%3E%3Cg fill='none'%3E%3Cpath d='M24 0v24H0V0h24ZM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018Zm.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022Zm-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01l-.184-.092Z'/%3E%3Cpath fill='%23ffffff' d='M8.4 6.2a1 1 0 0 1 1.2 1.6c-1.564 1.173-2.46 2.314-2.973 3.31A3.5 3.5 0 1 1 4 14.558a7.565 7.565 0 0 1 .508-3.614C5.105 9.438 6.272 7.796 8.4 6.2Zm9 0a1 1 0 0 1 1.2 1.6c-1.564 1.173-2.46 2.314-2.973 3.31A3.5 3.5 0 1 1 13 14.558a7.565 7.565 0 0 1 .508-3.614c.598-1.506 1.764-3.148 3.892-4.744Z'/%3E%3C/g%3E%3C/svg%3E");

$d-live-button-icon: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'%3E%3Cpath fill='%23ffffff' d='M6.343 4.938a1 1 0 0 1 0 1.415a8.003 8.003 0 0 0 0 11.317a1 1 0 1 1-1.414 1.414c-3.907-3.906-3.907-10.24 0-14.146a1 1 0 0 1 1.414 0Zm12.732 0c3.906 3.907 3.906 10.24 0 14.146a1 1 0 0 1-1.415-1.414a8.003 8.003 0 0 0 0-11.317a1 1 0 0 1 1.415-1.415ZM9.31 7.812a1 1 0 0 1 0 1.414a3.92 3.92 0 0 0 0 5.544a1 1 0 1 1-1.415 1.414a5.92 5.92 0 0 1 0-8.372a1 1 0 0 1 1.415 0Zm6.958 0a5.92 5.92 0 0 1 0 8.372a1 1 0 0 1-1.414-1.414a3.92 3.92 0 0 0 0-5.544a1 1 0 0 1 1.414-1.414Zm-4.186 2.77a1.5 1.5 0 1 1 0 3a1.5 1.5 0 0 1 0-3Z'/%3E%3C/svg%3E%0A");

@media (prefers-color-scheme: light) {
  .default {
    --loosed-black: #{$l-black};
    --loosed-white: #{$l-white};

    --main-box-shadow: #{$l-main-box-shadow};

    --loosed-highlight-1: #{$l-highlight-1};
    --loosed-highlight-1: #{$l-highlight-1-rgb};

    --toc-header-bg: #{$l-toc-header-bg};
    --toc-header-shadow: #{$l-toc-header-shadow};
    --toc-nav-bg: #{$l-toc-nav-bg};
    --toc-shadow: #{$l-toc-shadow};
    --toc-hr: #{$l-toc-hr};
    --anchor-icon: #{$l-anchor-icon};

    --main-text-color: #{$l-main-text-color};

    --comment-heading: #{$l-comment-heading};
    --comment-content: #{$l-comment-content};
    --comment-shadow: #{$l-comment-shadow};
    --comment-input-bg: #{$l-comment-input-bg};
    --reply-shadow: #{$l-reply-shadow};
    --input-outline: #{$l-input-outline};
    --indent-1: #{$l-indent-1};
    --indent-2: #{$l-indent-2};
    --indent-3: #{$l-indent-3};
    --indent-4: #{$l-indent-4};
    --indent-5: #{$l-indent-5};

    --card-shadow: #{$l-card-shadow};
    --card-hover-background: #{$l-card-hover-background};
    --card-active: #{$l-card-active};

    --menu-toggle-background: #{$l-menu-toggle-background};
    --menu-toggle-box-shadow: #{$l-menu-toggle-box-shadow};
    --menu-border: #{$l-menu-border};
    --menu-hover-border: #{$l-menu-hover-border};

    --overlay-background-color: #{$l-overlay-background-color};
    --menu-background-color: #{$l-menu-background-color};
    --menu-box-shadow: #{$l-menu-box-shadow};
    --button-box-shadow: #{$l-button-box-shadow};

    --light-display: #{$l-light-display};
    --dark-display: #{$l-dark-display};
    --toggle-hover-glow: #{$l-toggle-hover-glow};
    --normal-background: #{$l-normal-background};
    --hover-background: #{$l-hover-background};

    --footer-border: #{$l-footer-border};
    --webring-background: #{$l-webring-background};
    --webring-center-border: #{$l-webring-center-border};
    --scroll-top-bg: #{$l-scroll-top-bg};
    --scroll-top-shadow: #{$l-scroll-top-shadow};
    --scroll-top-svg: #{$l-scroll-top-svg};
    --scroll-top-hover: #{$l-scroll-top-hover};
    --footer-icon: #{$l-footer-icon};
    --link-section-bg: #{$l-link-section-bg};

    --donate-menu-background-color: #{$l-donate-menu-background-color};
    --donate-button-box-shadow: #{$l-donate-button-box-shadow};

    --code-filter: #{$l-code-filter};
    --code-highlight: #{$l-code-highlight};
    --code-highlight-bg: #{$l-code-highlight-bg};
    --code-inserted: #{$l-code-inserted};
    --code-inserted-bg: #{$l-code-inserted-bg};
    --code-deleted: #{$l-code-deleted};
    --code-deleted-bg: #{$l-code-deleted-bg};
    --copy-button-svg: #{$l-copy-button-svg};
    --copy-button-background: #{$l-copy-button-background};
    --copy-button-hover: #{$l-copy-button-hover};
    --copy-button-hover-color: #{$l-copy-button-hover-color};

    --caption-leader: #{$l-caption-leader};

    --scrollbar-color: #{$l-scrollbar-color};
    --scrollbar-thumb: #{$l-scrollbar-thumb};
    --scrollbar-pre-color: #{$l-scrollbar-pre-color};
    --scrollbar-pre-thumb: #{$l-scrollbar-pre-thumb};
    --scroll-area-border: #{$l-scroll-area-border};
    --scroll-area-background: #{$l-scroll-area-background};

    --table-separator: #{$l-table-separator};

    --blockquote-bg: #{$l-blockquote-bg};
    --blockquote-border: #{$l-blockquote-border};
    --blockquote-icon: #{$l-blockquote-icon};

    --live-button-icon: #{$l-live-button-icon};
  }
}

@media (prefers-color-scheme: dark) {
  .default {
    --loosed-black: #{$d-black};
    --loosed-white: #{$d-white};

    --main-box-shadow: #{$d-main-box-shadow};

    --loosed-highlight-1: #{$d-highlight-1};
    --loosed-highlight-1: #{$d-highlight-1-rgb};

    --toc-header-bg: #{$d-toc-header-bg};
    --toc-header-shadow: #{$d-toc-header-shadow};
    --toc-nav-bg: #{$d-toc-nav-bg};
    --toc-shadow: #{$d-toc-shadow};
    --toc-hr: #{$d-toc-hr};
    --anchor-icon: #{$d-anchor-icon};

    --main-text-color: #{$d-main-text-color};

    --comment-heading: #{$d-comment-heading};
    --comment-content: #{$d-comment-content};
    --comment-shadow: #{$d-comment-shadow};
    --comment-input-bg: #{$d-comment-input-bg};
    --reply-shadow: #{$d-reply-shadow};
    --input-outline: #{$d-input-outline};
    --indent-1: #{$d-indent-1};
    --indent-2: #{$d-indent-2};
    --indent-3: #{$d-indent-3};
    --indent-4: #{$d-indent-4};
    --indent-5: #{$d-indent-5};

    --card-shadow: #{$d-card-shadow};
    --card-hover-background: #{$d-card-hover-background};
    --card-active: #{$d-card-active};

    --menu-toggle-background: #{$d-menu-toggle-background};
    --menu-toggle-box-shadow: #{$d-menu-toggle-box-shadow};
    --menu-border: #{$d-menu-border};
    --menu-hover-border: #{$d-menu-hover-border};

    --overlay-background-color: #{$d-overlay-background-color};
    --menu-background-color: #{$d-menu-background-color};
    --menu-box-shadow: #{$d-menu-box-shadow};
    --button-box-shadow: #{$d-button-box-shadow};

    --light-display: #{$d-light-display};
    --dark-display: #{$d-dark-display};
    --toggle-hover-glow: #{$d-toggle-hover-glow};
    --normal-background: #{$d-normal-background};
    --hover-background: #{$d-hover-background};

    --footer-border: #{$d-footer-border};
    --webring-background: #{$d-webring-background};
    --webring-center-border: #{$d-webring-center-border};
    --scroll-top-bg: #{$d-scroll-top-bg};
    --scroll-top-shadow: #{$d-scroll-top-shadow};
    --scroll-top-svg: #{$d-scroll-top-svg};
    --scroll-top-hover: #{$d-scroll-top-hover};
    --footer-icon: #{$d-footer-icon};
    --link-section-bg: #{$d-link-section-bg};

    --donate-menu-background-color: #{$d-donate-menu-background-color};
    --donate-button-box-shadow: #{$d-donate-button-box-shadow};

    --code-filter: #{$d-code-filter};
    --code-highlight: #{$d-code-highlight};
    --code-highlight-bg: #{$d-code-highlight-bg};
    --code-inserted: #{$d-code-inserted};
    --code-inserted-bg: #{$d-code-inserted-bg};
    --code-deleted: #{$d-code-deleted};
    --code-deleted-bg: #{$d-code-deleted-bg};
    --copy-button-svg: #{$d-copy-button-svg};
    --copy-button-background: #{$d-copy-button-background};
    --copy-button-hover: #{$d-copy-button-hover};
    --copy-button-hover-color: #{$d-copy-button-hover-color};

    --caption-leader: #{$d-caption-leader};

    --scrollbar-color: #{$d-scrollbar-color};
    --scrollbar-thumb: #{$d-scrollbar-thumb};
    --scrollbar-pre-color: #{$d-scrollbar-pre-color};
    --scrollbar-pre-thumb: #{$d-scrollbar-pre-thumb};
    --scroll-area-border: #{$d-scroll-area-border};
    --scroll-area-background: #{$d-scroll-area-background};

    --table-separator: #{$d-table-separator};

    --blockquote-bg: #{$d-blockquote-bg};
    --blockquote-border: #{$d-blockquote-border};
    --blockquote-icon: #{$d-blockquote-icon};

    --live-button-icon: #{$d-live-button-icon};
  }
}

:root {
/* # Themes -------------------------------- */
/* # Other Variables ----------------------- */
/* ## Page max width */
  --page-max-width: 1920px;
/* ## Transition Speeds */
  --loosed-transition-fast: 50ms;
  --loosed-transition-medm: 200ms;
  --loosed-transition-slow: 500ms;
  --loosed-transition-slower: 800ms;
/* ## Fonts */
  --small: 0.9em;
  --normal: 1em;
  --medium: 1.25em;
  --medium-large: 1.5em;
  --large: 2em;
  --x-large: 2.5em;
/* ## Colors */
  --default: rgb(30,100,220);
  --success: rgb(7,203,100);
  --error: rgb(163,7,10);
/* ## Notes */
  --note-default-icon: rgba(30,100,220,0.75);
  --note-success-icon: rgba(7,203,100,0.75);
  --note-error-icon: rgba(163,7,10,0.75);
  --note-default-border: rgba(30,100,220,0.5);
  --note-success-border: rgba(7,203,100,0.5);
  --note-error-border: rgba(163,7,10,0.5);
  --note-default: rgba(30,100,220,0.15);
  --note-success: rgba(7,203,100,0.15);
  --note-error: rgba(163,7,10,0.15);
/* ## Parametric Components */
  --rad-1: 7.5px;
  --off-1: 3px;
}


/* # Light Theme
 * -------------------------------- */
.light {
  --loosed-black: #{$l-black} !important;
  --loosed-white: #{$l-white} !important;

  --main-box-shadow: #{$l-main-box-shadow} !important;

  --loosed-highlight-1: #{$l-highlight-1} !important;
  --loosed-highlight-1: #{$l-highlight-1-rgb} !important;

  /* ## Table of Contents */
  --toc-header-bg: #{$l-toc-header-bg} !important;
  --toc-header-shadow: #{$l-toc-header-shadow} !important;
  --toc-nav-bg: #{$l-toc-nav-bg} !important;
  --toc-shadow: #{$l-toc-shadow} !important;
  --toc-hr: #{$l-toc-hr} !important;
  --anchor-icon: #{$l-anchor-icon} !important;

  --main-text-color: #{$l-main-text-color} !important;

  /* ## comment.js */
  --comment-heading: #{$l-comment-heading} !important;
  --comment-content: #{$l-comment-content} !important;
  --comment-shadow: #{$l-comment-shadow} !important;
  --comment-input-bg: #{$l-comment-input-bg} !important;
  --reply-shadow: #{$l-reply-shadow} !important;
  --input-outline: #{$l-input-outline} !important;
  --indent-1: #{$l-indent-1} !important;
  --indent-2: #{$l-indent-2} !important;
  --indent-3: #{$l-indent-3} !important;
  --indent-4: #{$l-indent-4} !important;
  --indent-5: #{$l-indent-5} !important;

  /* ## card.js */
  --card-shadow: #{$l-card-shadow} !important;
  --card-hover-background: #{$l-card-hover-background} !important;
  --card-active: #{$l-card-active} !important;

  /* ## menu_toggle.js */
  --menu-toggle-background: #{$l-menu-toggle-background} !important;
  --menu-toggle-box-shadow: #{$l-menu-toggle-box-shadow} !important;
  --menu-border: #{$l-menu-border} !important;
  --menu-hover-border: #{$l-menu-hover-border} !important;

  /* ## menu_overlay.js */
  --overlay-background-color: #{$l-overlay-background-color} !important;
  --menu-box-shadow: #{$l-menu-box-shadow} !important;
  --menu-background-color: #{$l-menu-background-color} !important;
  --button-box-shadow: #{$l-button-box-shadow} !important;

  /* ## dark_mode_toggle.js */
  --light-display: #{$l-light-display} !important;
  --dark-display: #{$l-dark-display} !important;
  --toggle-hover-glow: #{$l-toggle-hover-glow} !important;
  --normal-background: #{$l-normal-background} !important;
  --hover-background: #{$l-hover-background} !important;

  /* ## footer.js */
  --footer-border: #{$l-footer-border} !important;
  --webring-background: #{$l-webring-background} !important;
  --webring-center-border: #{$l-webring-center-border} !important;
  --scroll-top-bg: #{$l-scroll-top-bg} !important;
  --scroll-top-shadow: #{$l-scroll-top-shadow} !important;
  --scroll-top-svg: #{$l-scroll-top-svg} !important;
  --scroll-top-hover: #{$l-scroll-top-hover} !important;
  --footer-icon: #{$l-footer-icon} !important;
  --link-section-bg: #{$l-link-section-bg} !important;

  /* ## donate.js */
  --donate-menu-background-color: #{$l-donate-menu-background-color} !important;
  --donate-button-box-shadow: #{$l-donate-button-box-shadow} !important;

  /* ## pre.js */
  --code-filter: #{$l-code-filter} !important;
  --code-highlight: #{$l-code-highlight} !important;
  --code-highlight-bg: #{$l-code-highlight-bg} !important;
  --code-inserted: #{$l-code-inserted} !important;
  --code-inserted-bg: #{$l-code-inserted-bg} !important;
  --code-deleted: #{$l-code-deleted} !important;
  --code-deleted-bg: #{$l-code-deleted-bg} !important;
  --copy-button-svg: #{$l-copy-button-svg} !important;
  --copy-button-background: #{$l-copy-button-background} !important;
  --copy-button-hover: #{$l-copy-button-hover} !important;
  --copy-button-hover-color: #{$l-copy-button-hover-color} !important;

  /* ## image_wrapper.js */
  --caption-leader: #{$l-caption-leader} !important;

  /* ## horizontal_scroller.js */
  --scrollbar-color: #{$l-scrollbar-color} !important;
  --scrollbar-thumb: #{$l-scrollbar-thumb} !important;
  --scrollbar-pre-color: #{$l-scrollbar-pre-color} !important;
  --scrollbar-pre-thumb: #{$l-scrollbar-pre-thumb} !important;
  --scroll-area-border: #{$l-scroll-area-border} !important;
  --scroll-area-background: #{$l-scroll-area-background} !important;

  /* ## table */
  --table-separator: #{$l-table-separator} !important;

  /* ## blockquote */
  --blockquote-bg: #{$l-blockquote-bg} !important;
  --blockquote-border: #{$l-blockquote-border} !important;
  --blockquote-icon: #{$l-blockquote-icon} !important;

  /* ## live button */
  --live-button-icon: #{$l-live-button-icon} !important;
}

/* # Dark Theme
 * ---------------------------------- */
.dark {
  /* ## Global Color Palette */
  --loosed-white: #{$d-white} !important;
  --loosed-black: #{$d-black} !important;

  --main-box-shadow: #{$d-main-box-shadow} !important;

  --loosed-highlight-1: #{$d-highlight-1} !important;
  --loosed-highlight-1: #{$d-highlight-1-rgb} !important;

  /* ## Table of Contents */
  --toc-header-bg: #{$d-toc-header-bg} !important;
  --toc-header-shadow: #{$d-toc-header-shadow} !important;
  --toc-nav-bg: #{$d-toc-nav-bg} !important;
  --toc-shadow: #{$d-toc-shadow} !important;
  --toc-hr: #{$d-toc-hr} !important;
  --anchor-icon: #{$d-anchor-icon} !important;

  --main-text-color: #{$d-main-text-color} !important;

  /* ## comments.js */
  --comment-heading: #{$d-comment-heading} !important;
  --comment-content: #{$d-comment-content} !important;
  --comment-shadow: #{$d-comment-shadow} !important;
  --comment-input-bg: #{$d-comment-input-bg} !important;
  --reply-shadow: #{$d-reply-shadow} !important;
  --input-outline: #{$d-input-outline} !important;
  --indent-1: #{$d-indent-1} !important;
  --indent-2: #{$d-indent-2} !important;
  --indent-3: #{$d-indent-3} !important;
  --indent-4: #{$d-indent-4} !important;
  --indent-5: #{$d-indent-5} !important;

  /* ## card.js */
  --card-shadow: #{$d-card-shadow} !important;
  --card-hover-background: #{$d-card-hover-background} !important;
  --card-active: #{$d-card-active} !important;

  /* ## menu_toggle.js */
  --menu-toggle-background: #{$d-menu-toggle-background} !important;
  --menu-toggle-box-shadow: #{$d-menu-toggle-box-shadow} !important;
  --menu-border: #{$d-menu-border} !important;
  --menu-hover-border: #{$d-menu-hover-border} !important;

  /* ## menu_overlay.js */
  --overlay-background-color: #{$d-overlay-background-color} !important;
  --menu-background-color: #{$d-menu-background-color} !important;
  --menu-box-shadow: #{$d-menu-box-shadow} !important;
  --button-box-shadow: #{$d-button-box-shadow} !important;

  /* ## dark_mode_toggle */
  --light-display: #{$d-light-display} !important;
  --dark-display: #{$d-dark-display} !important;
  --toggle-hover-glow: #{$d-toggle-hover-glow} !important;
  --normal-background: #{$d-normal-background} !important;
  --hover-background: #{$d-hover-background} !important;

  /* ## footer.js */
  --footer-border: #{$d-footer-border} !important;
  --webring-background: #{$d-webring-background} !important;
  --webring-center-border: #{$d-webring-center-border} !important;
  --scroll-top-bg: #{$d-scroll-top-bg} !important;
  --scroll-top-shadow: #{$d-scroll-top-shadow} !important;
  --scroll-top-svg: #{$d-scroll-top-svg} !important;
  --scroll-top-hover: #{$d-scroll-top-hover} !important;
  --footer-icon: #{$d-footer-icon} !important;
  --link-section-bg: #{$d-link-section-bg} !important;

  /* ## donate.js */
  --donate-menu-background-color: #{$d-donate-menu-background-color} !important;
  --donate-button-box-shadow: #{$d-donate-button-box-shadow} !important;

  /* ## pre.js */
	--code-filter: #{$d-code-filter} !important;
  --code-highlight: #{$d-code-highlight} !important;
  --code-highlight-bg: #{$d-code-highlight-bg} !important;
  --code-inserted: #{$d-code-inserted} !important;
  --code-inserted-bg: #{$d-code-inserted-bg} !important;
  --code-deleted: #{$d-code-deleted} !important;
  --code-deleted-bg: #{$d-code-deleted-bg} !important;
  --copy-button-svg: #{$d-copy-button-svg} !important;
  --copy-button-background: #{$d-copy-button-background} !important;
  --copy-button-hover: #{$d-copy-button-hover} !important;
  --copy-button-hover-color: #{$d-copy-button-hover-color} !important;

  /* ## image_wrapper.js */
  --caption-leader: #{$d-caption-leader} !important;

  /* ## horizontal_scroller.js */
  --scrollbar-color: #{$d-scrollbar-color} !important;
  --scrollbar-thumb: #{$d-scrollbar-thumb} !important;
  --scrollbar-pre-color: #{$d-scrollbar-pre-color} !important;
  --scrollbar-pre-thumb: #{$d-scrollbar-pre-thumb} !important;
  --scroll-area-border: #{$d-scroll-area-border} !important;
  --scroll-area-background: #{$d-scroll-area-background} !important;

  /* ## table */
  --table-separator: #{$d-table-separator} !important;

  /* ## blockquote */
  --blockquote-bg: #{$d-blockquote-bg} !important;
  --blockquote-border: #{$d-blockquote-border} !important;
  --blockquote-icon: #{$d-blockquote-icon} !important;

  /* ## live button */
  --live-button-icon: #{$d-live-button-icon} !important;
}

/* # HTML + body tags */
html,
body,
#__next {
  padding: 0;
  margin: 0;
  font-size: 100%;
  min-height: 100vh;
  font-family: 'JetBrains Mono', monospace;
}

::placeholder {
  font-family: 'JetBrains Mono', monospace;
}

:focus {
  outline: none;
}

.full__width {
  max-width: 100% !important;
}

/* # Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  width: fit-content;
  color: var(--loosed-black);
}

h1 {
  margin: 0 auto 0.25em -3px;
  font-weight: 900;
  font-size: 3.5em;
  letter-spacing: -1px;
  word-spacing: -10px;
  line-height: 0.9;
  text-transform: uppercase;
}

h2::after {
  position: relative;
  display: block;
  content: "";
  top: 1.15em;
  left: 0;
  width: 100px;
  height: 4px;
  background-color: var(--loosed-highlight-1);
}

h3 {
  margin-top: 2em;
  margin-bottom: 1em;
}

/* # Horizontal Rule */
hr {
  border: solid var(--loosed-black);
  border-width: 1px 0 0 0;
  margin: 3em 0;
}

/* # Paragraph Styles */
p {
  margin: 0 auto 1.25em auto;
  font-size: 1em;
}
blockquote {
  font-size: 90%;
  line-height: 2;
  background-color: var(--blockquote-bg);
  font-style: italic;
  margin: 3em 3.25em;
  text-indent: 0.5em;
  padding: 0 2vw 3em 2vw;
  border-radius: var(--rad-1);
  box-shadow: 0 var(--off-1) 0 0 var(--main-box-shadow);
  border: 1px solid var(--blockquote-border);

  &::before {
    content: var(--blockquote-icon);
    color: var(--loosed-black);
    width: 0;
    height: 0;
    position: relative;
    top: 2.25em;
    left: 0.5em;
  }

  i, em {
    font-style: normal;
  }

  p {
    padding: 0 2em;

    &:first-child {
      text-indent: 2em;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

/* # Lists */
ol,
ul {
  padding-inline-start: 1.25em;
}

/* # Links */
a {
  color: var(--loosed-highlight-1);
  text-decoration: none;
  overflow-wrap: break-word;
}

/* # Code */
pre {
  max-width: 100%;
}

input,
textarea {
  background-color: var(--comment-input-bg);
  color: var(--main-text-color);
}

table {
  border-collapse: collapse;
  width: inherit;

  th,
  td {
    padding: 0.25em 2em 0.25em 0;
  }

  tbody tr {
    border-top: 1px solid var(--table-separator);
  }
}


sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

sub {
  top: 0.4em;
}

figure {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

/* # Article Citation/Footnotes */
.data-footnote-backref {
  font-size: 1.5em;
  height: 1em;
  top: 0;
  display: inline-block;
  padding: 1px 5px;
  line-height: 0.75;
}
a[data-footnote-ref="true"] {
  top: -5px;
  padding: 2px 5px;
  line-height: 0.85;
}
.data-footnote-backref,
a[data-footnote-ref="true"] {
  position: relative;
  color: var(--loosed-black);
  text-decoration: none !important;
  text-align: center;
  width: 1.5em;
  border-radius: 4px;
  border: 1px solid transparent;
  background-color: var(--reply-shadow);

  &:hover {
    font-weight: normal;
    background-color: var(--loosed-highlight-1);
    color: #fff;
  }
}

/* # Toggle Class */
.hidden {
  display: none !important;
}

/* # Comments */
.indent-1 {
  border-left: 1px solid var(--indent-1);
}
.indent-2 {
  border-left: 1px solid var(--indent-2);
}
.indent-3 {
  border-left: 1px solid var(--indent-3);
}
.indent-4 {
  border-left: 1px solid var(--indent-4);
}
.indent-5 {
  border-left: 1px solid var(--indent-5);
}

#loosed-tv {
  max-width: calc(100% - 6em);
  margin: 0 3em;
}

/* # Box-Sizing */
* {
  box-sizing: border-box;
}
