/* BEGIN - Table of Contents ==================================== *

   +   Themes
     *   Default
                   -     Global
                   -     Comments
                   -     Cards
                   -     Menu Toggle
                   -     Menu Overlay
   +   Variables
             -     Transition Speeds
             -     Fonts
     *   Dark
   +   HTML + body tags
   +   Headings (H1, H2)
   +   Horizontal Rule
   +   Paragraph Styles
   +   Links
   +   Code
   +   Toggle Class
   +   Box-Sizing

 * END   - Table of Contents ==================================== */

@import './code_themes/tomorrow-night-eighties.css';

:root {
/* # Themes
 * ============================== */

/* ## Default */

  /* ### Global
   * ------------------ */
  --loosed-black: rgba(0,0,0,0.85);
  --loosed-black: #000000;
  --loosed-white: rgba(255,255,255,0.85);
  --loosed-white: #ffffff;
  --loosed-highlight-1: rgba(235,41,2,0.95);

  /* ### Comments
   * ------------------ */
  --comment-content: rgba(0,0,0,0.02);
  --comment-shadow: rgba(0,0,0,0.15);
  --reply-shadow: rgba(0,0,0,0.2);
  --input-outline: rgba(0,0,0,0.5);

  /* ### Cards
   * ------------------ */
  --card-shadow: rgba(0,0,0,0.15);
  --card-active: rgba(0,0,0,0.5);
  --card-radius: 10px;

  /* ### Menu Toggle
   * ------------------ */
  --menu-toggle-background: rgba(0,0,0,0.2);
  --menu-toggle-box-shadow: rgba(0,0,0,0.4);
  --menu-border: rgba(0,0,0,0.7);
  --menu-hover-border: rgba(0,0,0,0.8);

  /* ### Menu Overlay
   * ------------------ */
  --overlay-background-color: rgba(0,0,0,0.25);
  --menu-background-color: rgba(255,255,255,0.75);
  --menu-box-shadow: rgba(0,0,0,0.25);
  --button-box-shadow: rgba(0,0,0,0.7);

  /* ### Dark Mode Toggle
   * ------------------ */
  --light-display: none;
  --dark-display: flex;
  --toggle-hover-glow: rgba(0, 30, 80, 80%);
  --hover-background: rgba(0,155,255,0.2);

  /* ### Scroll To Top
   * ------------------ */
  --webring-background: rgba(0,0,0,0.05);
  --webring-top-border: rgba(0,0,0,0.4);
  --webring-center-border: rgba(0,0,0,0.2);
  --scroll-top-hover: rgba(0,0,0,0.1);
  --scroll-top-active: rgba(0,0,0,0.2);


/* # Variables
 * =================================== */

  /* ## Transition Speeds */
  --loosed-transition-fast: 50ms;
  --loosed-transition-medm: 200ms;
  --loosed-transition-slow: 500ms;

  /* ## Fonts */
  --small: 0.8em;
  --normal: 1em;
  --medium: 1.25em;
  --medium-large: 1.5em;
  --large: 2em;
  --x-large: 2.5em;
}

/* ## Dark */
.dark {
  /* Global */
  --loosed-white: #000000;
  --loosed-black: #ffffff;
  /* Comments */
  --comment-content: rgba(255,255,255,0.1);
  --comment-shadow: rgba(255,255,255,0.2);
  --reply-shadow: rgba(255,255,255,0.2);
  --input-outline: rgba(255,255,255,0.75);
  /* Cards */
  --card-shadow: rgba(255,255,255,0.15);
  --card-active: rgba(255,255,255,0.5);
  /* Menu Toggle */
  --menu-toggle-background: rgba(255,255,255,0.2);
  --menu-toggle-box-shadow: rgba(255,255,255,0.4);
  --menu-border: rgba(255,255,255,0.7);
  --menu-hover-border: rgba(255,255,255,0.8);
  /* Menu Overlay */
  --overlay-background-color: rgba(255,255,255,0.25);
  --menu-background-color: rgba(0,0,0,0.75);
  --menu-box-shadow: rgba(0,0,0,0.95);
  --button-box-shadow: rgba(255,255,255,0.3);
  /* Dark Mode Toggle */
  --light-display: flex;
  --dark-display: none;
  --toggle-hover-glow: rgba(80, 50, 0, 90%);
  --hover-background: rgba(255,185,0,0.1);
  /* Scroll To Top */
  --webring-top-border: rgba(255,255,255,0.5);
  --webring-center-border: rgba(255,255,255,0.2);
  --webring-background: rgba(255,255,255,0.05);
  --scroll-top-hover: rgba(255,255,255,0.1);
  --scroll-top-active: rgba(0,0,0,0.2);
}


/* # HTML + body tags */
html,
body,
#__next {
  background-color: var(--loosed-white);
  color: var(--loosed-black);
  padding: 0;
  margin: 0;
  min-height: 100vh;
  font-family: 'JetBrains Mono', monospace;
  font-size: 100%;
}

/* # Headings (H1, H2) */
h1,
h2 {
  font-family: 'Shrikhand', cursive;
  margin: 0 auto 5px auto;
  font-weight: 400;
}

h2 {
  font-size: 1.5em;
  line-height: 1.25em;
}

/* # Horizontal Rule */
hr {
  border: solid var(--loosed-black);
  border-width: 1px 0 0 0;
}

/* # Paragraph Styles */
p {
  margin: 6px auto;
  font-size: 1em;
}


/* # Links */
a {
  color: inherit;
  text-decoration: none;
}

/* # Code */
pre {
  max-width: 100%;
  overflow-x: scroll;
}

input,
textarea {
  background-color: var(--loosed-white);
  color: var(--loosed-black);
}

/* # Toggle Class */
.hidden {
  display: none !important;
}

/* # Box-Sizing */
* {
  box-sizing: border-box;
}
