.horizontal_scroller {
  display: inline-flex;
  justify-content: center;
  border-width: 0 1px;
  border-color: var(--scroll-area-border);
  border-style: solid;
  width: 100%;
  margin: 1em auto 2em auto;

  .scroller_container {
    display: inline-flex;
    overflow-x: auto;
    padding: 2em;
    column-gap: 1.5em;
  }

  & ::-webkit-scrollbar-track {
    background: transparent;
    margin: 2em;
  }

  & ::-webkit-scrollbar {
    background: var(--scrollbar-color);
    height: 0.5em;
  }

  & ::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border-radius: 10px;
  }
}
