.image__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.image__wrapper img {
  border-radius: 5px;
}

.image__wrapper img,
.image__wrapper iframe {
  max-width: 100%;
  height: auto;
  margin: 0.25em auto;
  display: flex;
}

.caption {
  color: var(--loosed-highlight-1);
  font-size: 85%;
  text-indent: 15px;
  text-align: left;
  margin: 0 auto 2em auto;
  line-height: 1.5;
}

.caption::before {
  border: 2px var(--loosed-highlight-1);
  border-style: none none solid solid;
  border-width: 0 0 1px 3px;
  content: "";
  height: 8px;
  top: -3.5px;
  left: -13px;
  display: inline-block;
  padding: 0 15px 0 35px;
  position: relative;
  border-image: linear-gradient(to right, var(--loosed-black), var(--loosed-highlight-1)) 1;
}
