.menu_overlay {
  --overlay-background-color: rgba(0,0,0,0.25);
  --menu-background-color: rgba(255,255,255,0.75);
  --menu-box-shadow: rgba(0,0,0,0.25);
  --menu-border-radius: 10px;
  --menu-item-hover-background: var(--loosed-black);
  --menu-item-hover-color: var(--loosed-white);

  display: flex;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  justify-content: center;
  background-color: var(--overlay-background-color);
  backdrop-filter: blur(3px);
}

.menu_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--menu-background-color);
  padding: 2em;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
  max-height: 280px;
  border-radius: var(--menu-border-radius);
  box-shadow: inset 1px 1px 2px 0px var(--loosed-white), 0 5px 20px 2px var(--menu-box-shadow);
}

.menu_text p {
  display: flex;
  text-align: left;
  border-radius: 3px;
  margin: 0.25em 0;
  padding: 3px 0.25em;
  font-size: var(--medium);
  cursor: pointer;
}

.menu_text p:hover {
  background-color: var(--menu-item-hover-background);
  color: var(--menu-item-hover-color);
}
