.note__wrapper {
  margin: 2em 2em 2em 2em;
}
.note__base {
  padding: 1.5em 1.5em 2em 1.5em;
  border-radius: 4px;

  h4 {
    margin-top: 0;
    margin-bottom: 0.5em;
  }

  p {
    line-height: 150%;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
.note__default {
  background-color: var(--note-default);
  box-shadow: 5px 5px 0 0 var(--note-default-border);
  border: 1px solid var(--note-default-border);
}
.note__success {
  background-color: var(--note-success);
  box-shadow: 5px 5px 0 0 var(--note-success-border);
  border: 1px solid var(--note-success-border);
}
.note__error {
  background-color: var(--note-error);
  box-shadow: 5px 5px 0 0 var(--note-error-border);
  border: 1px solid var(--note-error-border);
}
