/* # Scrollbar ----------------------------- */
.code_wrapper {
  position: relative;
  margin: 2em auto;

  pre::-webkit-scrollbar,
  pre::-webkit-scrollbar-track {
    background-color: var(--scroll-background);
    border-radius: 0 0 7.5px 7.5px;
    height: 5px;
  }
  pre::-webkit-scrollbar-thumb {
    background-color: var(--scroll-handle);
    border-radius: 7.5px;
  }

  code[class*=language-],
  pre[class*=language-] {
    display: block;
    width: 100%;
  }

  div[class=highlight-line] {
    border-left-color: var(--code-highlight);
  }
}
