/* BEGIN - Table of Contents ==================================== *

 * END   - Table of Contents ==================================== */

.title__wrapper {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  padding: 2em 0;
}
