/* #* Table of Contents */
@media (min-width: 768px) {
  .toc__wrapper {
    width: 66%;
    margin: 0 auto;
  }
}
.toc__wrapper {
  padding: 0 2em;
}
/* Hidden input checkbox */
input.toc__hidden {
  display: none;
}

input.toc__hidden:not(:checked) ~ nav.toc__block {
  display: none;
}

input.toc__hidden:checked ~ nav.toc__block {
  display: block;
}

input.toc__hidden:not(:checked) + label.toc__header {
  margin-bottom: 5em;
}

input.toc__hidden:checked + label.toc__header {
  border-radius: 7.5px 7.5px 0 0;
}

label.toc__header {
  margin: 0 auto;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  padding: 0.5em 0.75em 0.5em 1em;
  background-color: var(--toc-bg);
  border-radius: 7.5px;
  backdrop-filter: brightness(0.975);
  width: 100%;
  height: 100%;
}

h4.toc__label {
  margin-top: 0;
  text-align: left;
  width: 100%;
  content: "Table of Contents";
  font-size: var(--normal);
  font-weight: bold;
  margin-bottom: 0;
}

svg.toc__caret {
  height: auto;
  width: 20px;
  transform: rotate(0deg);
  display: flex;
  transition: transform ease 250ms;
  stroke: var(--loosed-black);
}

input.toc__hidden:checked + label.toc__header svg.toc__caret {
  transform: rotate(90deg);
}

nav.toc__block {
  overflow: hidden;
  background-color: var(--toc-bg);
  border-radius: 0 0 7.5px 7.5px;
  border-top: 1px solid var(--toc-hr);
  width: 100%;
  margin: 0 auto 3em auto;
  position: relative;
}

nav.toc__block,
label.toc__header {
  max-width: 576px;
}

nav.toc__block > ol {
  font-size: var(--small);
  list-style: disc;
  line-height: 125%;
  margin-top: 1em;
  margin-bottom: 0;
  padding: 0.25em 1.5em 1.25em 3em;
}

nav.toc__block li ol {
  margin-top: 0.75em;
  list-style: circle;
}

.toc__block ol li:not(:last-child) {
  margin-bottom: 1em;
}

.toc__sub_heading {
  color: var(--main-text-color);
}

