/* #* Table of Contents */
.toc__wrapper {
  --toc-width: 300px;
  overflow: hidden;
}
/* Hidden input checkbox */
input.toc__hidden {
  display: none;
}

input.toc__hidden:not(:checked) ~ nav.toc__block {
  max-height: 0;
  opacity: 0;
}

input.toc__hidden:checked ~ nav.toc__block {
  max-height: 500px;
  opacity: 1;
}

input.toc__hidden:checked + label.toc__header {
  border-radius: 7.5px 7.5px 0 0;
}

label.toc__header {
  z-index: 10;
  position: relative;
  display: flex;
  cursor: pointer;
  border-radius: 7.5px;
  width: var(--toc-width);
  height: 100%;
  margin: 0 auto 0 0;
  justify-content: space-between;
  padding: 0.5em 0.75em 0.5em 1em;
  background-color: var(--toc-header-bg);
  backdrop-filter: brightness(0.975);
}

h4.toc__label {
  width: 100%;
  content: "Table of Contents";
  display: inline-flex;
  margin-top: 0;
  text-align: left;
  font-size: var(--normal);
  font-weight: bold;
  margin-bottom: 0;
}

svg.toc__caret {
  display: inline-flex;
  height: auto;
  width: 20px;
  transform: rotate(0deg);
  transition: transform ease 250ms;
  stroke: var(--loosed-black);
}

input.toc__hidden:checked + label.toc__header svg.toc__caret {
  transform: rotate(90deg);
}

nav.toc__block {
  border-radius: 0 0 7.5px 7.5px;
  border-top: 1px solid var(--toc-hr);
  max-height: 0;
  opacity: 0;
  width: var(--toc-width);
  z-index: 9;
  position: relative;
  overflow: hidden;
  background-color: var(--toc-nav-bg);
  margin: 0 auto 0 0;
  transition: opacity var(--loosed-transition-medm) ease, max-height var(--loosed-transition-slow) ease;
  background-color: var(--toc-nav-bg);
}

nav.toc__block > ol {
  font-size: var(--small);
  list-style: disc;
  line-height: 125%;
  margin-top: 1em;
  margin-bottom: 0;
  padding: 0.25em 1.5em 1.25em 3em;
}

nav.toc__block li ol {
  margin-top: 0.75em;
  list-style: circle;
}

.toc__block ol li:not(:last-child) {
  margin-bottom: 1em;
}

.toc__block a:hover {
  color: var(--loosed-highlight-1);
}

.toc__sub_heading {
  color: var(--main-text-color);
}

