.meta__row {
  display: inline-flex;
  flex-wrap: wrap-reverse;
  top: 2em;
  z-index: 11;
  position: sticky;
  justify-content: flex-end;
  padding-left: 4vw;
  gap: 0.75em;
  width: calc(100% - 4em);
  margin: 0 2em 3em 2em;

  @media screen and (min-width: 768px) {
    width: calc(100% - 6em);
    margin: 0 3em 3em 3em;
    padding-left: 0;
    column-gap: 1em;
    row-gap: 2em;
    flex-wrap: wrap;
  }

  .article__likes,
  .article__share,
  .article__comments {
    user-select: none;
    backdrop-filter: blur(3px);
    width: fit-content;
    height: 40px;
    gap: 0.5em;
    color: var(--loosed-black);
    font-size: var(--normal);
    cursor: pointer;
    display: inline-flex;
    flex-direction: row;
    padding: 0.125em 1em;
    background-color: var(--toc-header-bg);
    border: 1px solid var(--main-box-shadow);
    box-shadow: 0 var(--off-1) 0 0 var(--main-box-shadow);
    border-radius: var(--rad-1);

    @media screen and (min-width: 768px) {
      height: 50px;
      font-size: var(--medium);
      padding: 0.25 1em;
    }

    &::after {
      border-radius: var(--rad-1);
      background-color: var(--loosed-white);
      z-index: -1;
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
    }

    span {
      padding-top: 2px;
    }

    span, svg {
      margin: auto 0;
    }

    svg {
      width: 18px;
      height: 18px;

      @media screen and (min-width: 768px) {
        width: 22px;
        height: 22px;
      }
    }

    &:hover {
      --off-1: 0;
    }
  }
}
