.article__head {
  margin: 0 3em 2em 3em;
  padding: 1.5em;
  border-radius: var(--rad-1);
  background-color: var(--toc-header-bg);
  border: 1px solid var(--main-box-shadow);
  box-shadow: 0 var(--off-1) 0 0 var(--main-box-shadow);
}

/* # Article Meta */
.article__title {
  padding-bottom: 5px;
  hyphens: auto;
}
.article__meta {
  align-self: center;
  min-width: 270px;
}
.article__meta span {
  width: 100%;
  display: block;
  line-height: 1.5;
  font-size: 90%;
}

.tags__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  gap: 1em;
  padding-top: 1em;
  border-top: 1px solid var(--main-box-shadow);
  justify-content: space-between;

  span {
    line-height: 1.5em;
  }
}
