.article__head {
  padding: 1.5em;
  border-radius: var(--rad-1);
  border: 1px solid var(--main-box-shadow);
  box-shadow: 0 var(--off-1) 0 0 var(--main-box-shadow);
  margin: 0 2em 1em 2em;
	background: linear-gradient(-59deg, var(--bg-gradient-1), var(--bg-gradient-2), var(--bg-gradient-3), var(--bg-gradient-4));
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @media screen and (min-width: 576px) {
    margin: 0 3em 1em 3em;
  }
}

/* # Article Meta */
.article__title {
  padding-bottom: 5px;
  hyphens: auto;
}
.article__meta {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 0.5em;
  align-self: center;

  span {
    width: fit-content;
    display: block;
    font-size: 90%;
  }

  span:last-child {
    width: 100%;
  }
}

.tags__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  column-gap: 1em;
  row-gap: 1.5em;
  padding-top: 1em;
  border-top: 1px solid var(--main-box-shadow);
  justify-content: space-between;

  span {
    line-height: 1.5em;
  }
}
