.bookmarksList {
  padding-inline-start: 0;
  padding-left: 0;
}

.bookmark {
  cursor: pointer;
  list-style: none;

  &::marker {
    content: '';
  }

  span {
    line-height: 1;
  }

  &.bookmarkLink {
    margin: 1em 0 0.5em 0;
  }

  .anchor {
    margin-right: 0.5em;
    text-decoration: none;
    height: 14px;
    width: 14px;
    position: relative;
    top: 1px;
    opacity: 0.5;
    content: var(--anchor-icon);

    &:hover {
      opacity: 1;
    }
  }

  .bookmarkTitle {
    line-height: 1.25;
    width: 100%;
    display:block;
  }

  .bookmarkDate {
    font-size: var(--small);
    color: var(--loosed-black);
    position: relative;
    top: -5px;
    text-decoration: none;
  }
}

.hidden {
  display: none;
}

.childList {
  margin: 0.5em 0;
}

.caret {
  position: relative;
  top: 1px;
  height: 14px;
  width: 14px;
  margin-left: 0.5em;
  stroke: currentColor;
  transition: transform var(--loosed-transition-medm) ease;
  transform: rotate(90deg);

  &.closed {
    transform: rotate(0deg);
  }
}
