.button__main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid transparent;
  border-radius: var(--rad-1);
  color: var(--loosed-black);
  padding: 0.5em 1em;

  a {
    width: 100%;
    display: inline-block;
  }

  svg {
    position: relative;
    height: 100%;
    margin: auto;
  }
}

.live__link {
  transition: background var(--loosed-transition-slow) ease;
  background-image: linear-gradient(90deg, var(--loosed-highlight-1), red);
  background-repeat: no-repeat;
  background-position-x: 0;
  background-size: calc(100vw * 2) 100px;
  color: #ffffff;
  border: 1px solid var(--loosed-black);
  box-shadow: 0 var(--off-1) 0 0 var(--loosed-black);
  width: calc(100% - 4em);
  margin: 0 2em 1em 2em;

  svg {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-left: auto;
    margin-right: 0;
  }

  @media screen and (min-width: 576px) {
    width: calc(100% - 6em);
    margin: 0 3em 1em 3em;
  }

  &:hover {
    --off-1: 0;
    background-position-x: -500px;
  }
}

@media screen and (min-width: 1200px) {
  .live__link {
    width: calc(100% - 3em);
    margin-left: 0;
  }
}

.live__menu {
  .live__link {
    width: 100%;
    margin: 2em 0 1em 0;
  }
}

.share__button {
  &:hover {
    .button__main {
      color: var(--loosed-highlight-1);
    }
  }
}
