/* BEGIN - Table of Contents ==================================== *

   +   Components
     *   Card

 * END   - Table of Contents ==================================== */

/* # Components
 * ------------------------- */

/* ## Card
 * ------------------------- */

.card__wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2em;
}

.card {
  --card-radius: 10px;
  --card-width: 300px;
  border-radius: var(--card-radius);
  min-width: min(var(--card-width), 100%);
  width: min(var(--card-width), 100%);
  height: fit-content;
  position: relative;
  display: inline-block;
  transition: all var(--loosed-transition-fast) ease;
  box-shadow: 0 0 1px 1px var(--card-shadow);
  color: var(--loosed-black);

  &.has__tags {
    .card__description {
      padding-bottom: 4.75em;
    }
  }

  & > a::before {
    width: 100%;
    height: 100%;
    top: -1px;
    left: -1px;
    z-index: 1;
    position: absolute;
    content: "";
    display: block;
    border: 1px solid var(--loosed-black);
    border-radius: var(--card-radius);
    background-color: var(--card-hover-background);
    box-shadow: inset 1px 1px 1px 0 #fff, -1px -1px 1px 0 #000, 0 0 8px 1px var(--card-shadow);
    transition: all var(--loosed-transition-medm) ease;
    opacity: 0.25;
  }
}

.card a:focus-visible::before,
.card:hover a::before,
.card:focus a::before {
  opacity: 0.75;
  box-shadow: 0 0 10px 1px var(--card-shadow);
}
.card a:active::before,
.card:active a::before {
  opacity: 1;
  box-shadow: 0 0 20px 1px var(--card-active);
}

.card__thumbnail_wrapper {
  --thumbnail-height: 260px;
  transition: all var(--loosed-transition-medm) ease;
  border-radius: calc(var(--card-radius) - 2px) calc(var(--card-radius) - 2px) 0 0;
  position: relative;
  overflow: hidden;
  top: -1px;
  left: -1px;
  width: calc(100% + 2px);
  height: var(--thumbnail-height);
  transform-origin: center;
}

.image__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.image__wrapper img {
  border-radius: calc(var(--card-radius) - 2px) calc(var(--card-radius) - 2px) 0 0;
}

.image__wrapper img,
.image__wrapper iframe {
  max-width: 100%;
  height: var(--thumbnail-height);
  margin: 0 auto;
  display: flex;
  object-fit: cover;
}

.card a:focus-visible .card__thumbnail_wrapper img,
.card:hover .card__thumbnail_wrapper img {
  /* Use card-radius - 1 to account for the border */
  border-radius: calc(var(--card-radius) - 1px) calc(var(--card-radius) - 1px) 0 0;
  top: 0;
  left: 0;
  transform: scale(1.25);
}

.card__thumbnail {
  border-radius: calc(var(--card-radius) - 2px) calc(var(--card-radius) - 2px) 0 0;
  height: auto;
  object-fit: cover;
  filter: saturate(0.5);
  backdrop-filter: brightness(0.8);
}
.card a:focus-visible .card__thumbnail,
.card:hover .card__thumbnail {
  border-radius: var(--card-radius) var(--card-radius) 0 0;
  filter: saturate(1);
  transform: scale(1.25);
}

.card__meta {
  font-size: var(--small);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 0.75em;
  line-height: 1.25em;
  max-width: fit-content;
}

.card__author,
.card__date {
  display: flex;
  font-size: var(--small);
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  color: var(--loosed-white);
  background-color: var(--loosed-black);
  padding: 0.125em 0.75em;
  border-radius: 3px;
  white-space: nowrap;
  width: fit-content;
}

.card__description {
  color: var(--loosed-black);
  line-height: 1.25em;
  padding-bottom: 1.25em;
}

.card__cropped {
  max-height: none;
  margin-bottom: 5px;
}

.card__cropped:before {
  display: none;
}

.card__head {
  padding: 1.25em 1.25em 1em 1.25em;
  position: relative;
  z-index: 1;
}
.card__head h2 {
  margin: 0 0 0.5em 0 !important;
  text-transform: uppercase;
  font-weight: 900;
  font-size: var(--large);
  line-height: 1em;
  letter-spacing: -0.05em;
  word-spacing: -0.35em;
  hyphens: auto;
}
.card__head h2::after {
  display: none;
}

.card__body {
  padding: 0 1.5em;
  font-size: var(--small);
  position: relative;
  z-index: 1;
}

.card__tags {
  padding: 0 1.25em;
  height: 0;
  top: -3.25em;
  position: relative;
  z-index: 1;
}
