/* BEGIN - Table of Contents ==================================== *

   +   Comments Section
     *   Main Wrapper
       -   Body Wrapper
       -   Vote Wrapper
     *   Comment Form

 * END   - Table of Contents ==================================== */

/* # Comments Section */

.comments_section {
  width: 100%;
  padding: 0 2em 2em 2em;

  @media screen and (min-width: 576px) {
    padding: 0 3em 2em 3em;
  }
}

@media screen and (min-width: 1200px) {
  .comments_section {
    padding-left: 0;
  }
}

.comments_header {
  margin: 0;
  font-size: var(--small);
  margin-bottom: 0.5em;
  text-align: left;
  width: 100%;
  text-transform: uppercase;
}

.comments_section img {
  margin: 5px 0;
  border-radius: 4px;
}

.row_wrapper {
  display: flex;
  flex-direction: row;
}

.indent_block {
  position: relative;
  flex-basis: 20px;
  flex-grow: 0;
  flex-shrink: 0;
  height: auto;
}

/* ## Main Wrapper */

.comment_form_wrapper::before,
.main_wrapper::before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  border-radius: var(--rad-1);
}

.main_wrapper {
  margin: 0.75em 0;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  border: 1px solid var(--main-box-shadow);
  box-shadow: 0 var(--off-1) 0 0 var(--main-box-shadow);
}

.comment_form_wrapper,
.main_wrapper {
  font-size: 0.8em;
  width: 100%;
  border-radius: var(--rad-1);
}

.commentReply {
  border-radius: 0;
}

.comment_form_wrapper {
  background-color: var(--comment-form-bg);
  border: 1px solid var(--main-box-shadow);
  box-shadow:0 var(--off-1) 0 0 var(--main-box-shadow);
  display: block;
  margin-top: 0;
  margin-bottom: 1em;
  padding: 1.5em;

  h3 {
    font-size: 1.25em;
    padding-bottom: 0.75em;
    margin-bottom: 0;
  }

  /* ## Comment Form */
  form {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 0.25em;

    label {
      &[for="id_subscribe"] {
        display: inline-block;
        height: 34px;
        line-height: 36.666px;
        padding-right: 1em;
      }

      font-size: var(--small);
      font-weight: bold;
    }

    div {
      width: 100%;
    }

    input,
    textarea {
      border-radius: 4px;
      width: 100%;
      padding: 0.75em;
      font-size: 1em;
      border: 1px solid transparent;

      &:focus,
      &:active,
      &:hover {
        border-color: var(--loosed-highlight-1);
      }
    }

    textarea {
      outline: none;
      font-family: 'JetBrains Mono', monospace;
      margin-bottom: 4px;
    }

    input {
      &[name="subscribe"] {
        width: 1em;
        height: 1em;
        border-radius: 5px;
        cursor: pointer;
        outline: 1px solid transparent;
        margin: auto 0;
        vertical-align: middle;

        &:focus,
        &:hover {
          outline-color: var(--loosed-highlight-1);
        }

        &:checked {
          + input[name="email"] {
            display: block !important;
            + div {
              display: block !important;
              + button[type="submit"] {
                bottom: 3em;
              }
            }
          }
        }
      }
      &[name="email"] {
        width: calc(100% - 4em);
        display: none;
        + div {
          width: calc(100% - 4em);
          display: none;
        }
      }
      &[name="subscribe"] {
        display: inline-block;
      }
    }

    button[type="submit"] {
      background: transparent;
      border: none;
      height: 0;
      width: 2.75em;
      position: relative;
      cursor: pointer;
      margin: 0 0 0 auto;
      bottom: 0;
      right: 0;
      color: var(--loosed-black);

      &::after {
        background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M4.4 19.425q-.5.2-.95-.088T3 18.5v-3.725q0-.35.2-.625t.55-.35L11 12l-7.25-1.8q-.35-.075-.55-.35T3 9.225V5.5q0-.55.45-.838t.95-.087l15.4 6.5q.625.275.625.925t-.625.925l-15.4 6.5Z'/%3E%3C/svg%3E%0A");
        width: 2.75em;
        height: 2.75em;
        cursor: pointer;
      }

      &:hover,
      &:focus {
        color: var(--loosed-highlight-1);
      }
    }
  }
}

.title_row {
  display: flex;
  flex-direction: row;
  column-gap: 1em;

  svg {
    position: relative;
    right: 0;
    top: -6px;
    padding-bottom: 0.5em;
    height: 100%;
    width: auto;
  }
}

/* ### Body Wrapper */
.body_wrapper {
  width: 100%;
  border-radius: var(--rad-1) 0 0 var(--rad-1);
}

.body_row_1 {
  padding: 0.5em 1em;
  background-color: var(--comment-heading);
  border-radius: var(--rad-1) 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.body_col_2 {
  width: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reply_button {
  border: none;
  padding: 0;
  background-color: transparent;
  position: relative;
  color: var(--loosed-black);
  display: flex;
  flex-direction: column;
  align-self: center;
  padding-right: 2px;
  cursor: pointer;
  text-align: center;
  background-color: var(--reply-shadow);

  &, &::before {
    border-radius: 5px;
    width: 40px;
    height: 30px;
  }

  &::before {
    z-index: 1;
    content: "";
    position: absolute;
    background-color: var(--loosed-highlight-1);
    transition: opacity ease var(--loosed-transition-medm);
    opacity: 0;
  }

  svg {
    margin: 0 auto;
    height: 100%;
    z-index: 2;
  }

  &:hover,
  &:focus {
    svg {
      color: #fff;
    }

    &::before {
      opacity: 1;
    }
  }
}

.body_row_2 {
  padding: 1.1em;
  border-radius: 0 0 0 var(--rad-1);
  background-color: var(--comment-content);

  p:last-child {
    margin-bottom: 0;
  }

  img {
    max-width: 100%;
  }
}

.comment_author {
  user-select: none;
  font-weight: bold;
  margin-bottom: 5px
}

.comment_author,
.comment_date {
  width: 100%;
  display: block;
}

.comment_date {
  border-bottom: 1px solid bottom;
}


/* ### Vote Wrapper */
.vote_wrapper {
  padding: 0.75em 0;
  position: relative;
  border-radius: 0 var(--rad-1) var(--rad-1) 0;
  border-left: 1px solid var(--main-box-shadow);
  background-color: var(--comment-heading);
  display: flex;
  flex-direction: column;
  width: 50px;
}

.vote_count,
.upvote_button,
.downvote_button {
  display: flex;
  align-items: center;
  width: 100%;
  height: 25px;
  margin: 0 auto;
}

.upvote_button,
.downvote_button {
  transition: all var(--loosed-transition-fast) ease;
  cursor: pointer;
  color: var(--loosed-highlight-1);
  svg {
    transition: height width ease var(--loosed-transition-slow);
  }
}
.upvote_button:hover,
.downvote_button:hover {
  color: red;
  svg {
    width: 18px;
    height: 18px;
  }
}
.upvote_button:active,
.downvote_button:active {
  font-size: 20px;
}

.count_text,
.upvote_button span,
.downvote_button span {
  text-align: center;
  align-content: stretch;
  width: 100%;
}
