.featured {
  display: flex;
  flex-direction: column-reverse;
  gap: 4em;
  margin: 0 auto;
  max-width: 768px;
  padding: 2em;
  background-color: var(--featured-bg);
  border-radius: 1.5em;

  .title_description {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      text-transform: uppercase;
      font-size: 3em;
      font-weight: bold;
      margin: 0 0 0.5em 0;

      &::after {
        top: 0.25em;
      }
    }

    p {
      font-size: 1.5em;
      margin-bottom: 1em;
    }
  }

  .image::after {
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    background-image: linear-gradient(to right, var(--featured-bg), transparent);
  }
}

@media screen and (min-width: 1024px) {
  .featured {
    flex-direction: row;

    .title_description {
      width: 66.666%;
    }

    .image {
      width: 33.333%;
    }
  }
}
