/* BEGIN - Table of Contents ==================================== *

   +   Homepage

 * END   - Table of Contents ==================================== */

/* # Homepage
 * ------------------------- */

.homepage {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .featured_post {
    margin-top: 2em;
    padding: 0 2em;
  }

  .previous_posts {
    max-width: min(100%, var(--page-max-width));
    margin: 0 auto;

    .pp_description {
      min-width: 270px;

      p {
        margin-top: 3em;
      }
    }
  }

  .scroller {
    max-width: 100%;
  }
}
