.image__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.image__wrapper img {
  border-radius: var(--rad-1);
}

.image__wrapper img,
.image__wrapper iframe {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
}

.caption {
  color: var(--caption-leader);
  font-size: 85%;
  text-indent: 15px;
  text-align: left;
  margin: 0.5em auto 0 auto;
  line-height: 1.5;
  display: block;
}

.caption::before {
  border: 2px var(--caption-leader);
  border-style: none none solid solid;
  border-width: 0 0 1px 2px;
  content: "";
  height: 5px;
  top: -4px;
  left: -13px;
  display: inline-block;
  padding: 0 0 0 50px;
  position: relative;
  border-image: linear-gradient(90deg, var(--loosed-highlight-1), var(--caption-leader)) 1;
}
