/* BEGIN - Table of Contents ==================================== *

   *   Wifi Animation --------------------

 * END   - Table of Contents ==================================== */

.header_logo {
  position: fixed;
  top: 2em;
  left: 5vw;
  cursor: pointer;
  height: 70px;
  width: 70px;
  z-index: 997;
  background: none;
  border: none;
}

.header_logo .logo {
  height: 70px;
  width: 70px;
  border-radius: 35px;
  padding: 5px;
  backdrop-filter: blur(3px);
  transition: opacity 0.5s ease;
  transition: -webkit-filter 0.5s ease;
  transition: filter 0.5s ease;
  transition: filter 0.5s ease, -webkit-filter 0.5s ease;
}

.header_logo .logo path {
  fill: var(--loosed-black);
}

.header_logo::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 35px;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all var(--loosed-transition-medm) ease;
}

.header_logo:hover .logo,
.header_logo:focus .logo,
.label_wrapper:hover .header_logo .logo,
.label_wrapper:focus .header_logo .logo,
.header_logo .logo:focus,
.header_logo .logo:hover {
  background-color: var(--loosed-highlight-1);
  box-shadow: inset 0 0 4px 2px var(--menu-toggle-box-shadow), 0 0 4px 1px var(--menu-toggle-box-shadow);
  backdrop-filter: blur(2px);
}

.header_logo:hover::before,
.header_logo:focus::before,
.label_wrapper:hover .header_logo::before,
.label_wrapper:focus .header_logo::before {
  opacity: 1;
}

.logo_wifi1,
.logo_wifi2,
.logo_wifi3 {
  animation-direction: normal;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: wifi_animation;
}
.logo_wifi1 {
  animation-delay: .5s;
}
.logo_wifi2 {
  animation-delay: 0.25s;
}
.logo_wifi3 {
  animation-delay: 0s;
}
/* ## Wifi Animation -------------------- */
@keyframes wifi_animation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.progress {
  position: fixed;
  top: 2em;
  left: 5vw;
  height: 70px;
  width: 70px;
  z-index: 998;
  background: none;
  border: none;
  border-radius: 100%;
  overflow: hidden;
  cursor: pointer;
	transform: rotate(-90deg);
}

.progress__svg {
	position: relative;
	width: 100%;
	height: 100%;
}

.progressbar__svg_circle {
	width: 100%;
	height: 100%;
	fill: none;
	stroke-dasharray: 450;
	stroke-dashoffset: 450;
	stroke-linecap: round;
  animation-name: scroller;
  animation-timeline: scroll(root y);
}

@keyframes scroller {
  0% {
    stroke-dashoffset: 450;
  }
  100% {
    stroke-dashoffset: 239;
  }
}
