.menu_text {
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 1.5em;
  z-index: 999;
  position: fixed;
  overflow: hidden;
  height: 100%;
  backdrop-filter: blur(7px);
  transition: width var(--loosed-transition-medm) ease, opacity var(--loosed-transition-medm) ease, max-width var(--loosed-transition-medm) ease;
  background-color: var(--menu-background-color);
  box-shadow: 0 0 0 1px var(--menu-box-shadow);

  a {
    p {
      color: var(--loosed-black);
      display: flex;
      text-align: left;
      border-radius: 5px;
      margin: 0.25em 0;
      padding: 0.25em 0.75em;
      font-size: var(--medium);
      cursor: pointer;
    }

    &:hover,
    &:focus {
      p {
        background-color: var(--loosed-black);
        color: var(--loosed-white);
      }
    }
  }

  .menu_controls {
    display: inline-flex;
    justify-content: space-between;
    margin-left: 0.5em;

    button.close_menu {
      border: none;
      background: transparent;
      margin: 0.5em 0 1em 0;
      display: flex;
      flex-direction: row;
      padding: 0;

      svg {
        height: 40px;
        width: 40px;
        stroke: var(--loosed-black);
      }

      &:hover svg,
      &:focus svg {
        cursor: pointer;
        stroke: var(--loosed-highlight-1);
      }
    }
  }
}

:global(#menu-overlay-input):checked + :global(#menu-overlay) {
  .menu_text {
    width: min(350px, 100%);
    max-width: min(350px, 100%);
    opacity: 1;
  }
}

:global(#menu-overlay-input):not(:checked) + :global(#menu-overlay) {
  .menu_text {
    max-width: 0;
    opacity: 0;
    padding: 0;
  }
}
