.message_overlay {
  z-index: 999;
  background-color: var(--overlay-background-color);
  backdrop-filter: blur(7px);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  opacity: 1;
  transition: opacity var(--loosed-transition-medm) ease;

  .inner_content {
    margin: auto;
  }

  &:not(.inner_content) {
    cursor: pointer;
  }
}

.checkbox:not(:checked) + .message_overlay {
  width: 0;
  animation-name: fadeout;
  animation-duration: 0;
}
.checkbox:checked {
  animation-duration: 400ms;
}

@keyframes fadeout {
  0% {
    width: 100%;
    opacity: 1;
  }
  99% {
    width: 100%;
  }
  100% {
    width: 0%;
    opacity: 0;
  }
}

.close__area {
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
