.note__wrapper {
  margin: 2em;
  @media screen and (min-width: 768px) {
    margin: 3em;
  }
}
.note__row {
  display: flex;
  flex-direction: row;
  padding: 0.5em 1em 0.5em 1em;
  margin-bottom: 1em;

  svg {
    position: relative;
    right: 0;
  }
}
.note__base {
  border-radius: var(--rad-1);

  p {
    line-height: 150%;
    padding: 0 1em;
  }

  div:not(.note__row) {
    margin: 0 1em 1em 1em;
  }
}
.note__row {
  color: var(--loosed-black);
  svg {
    opacity: 0.75;
  }
}
.note__default {
  .note__row {
    background-color: var(--note-default);
  }
  background-color: var(--note-default);
  box-shadow: 0 var(--off-1) 0 0 var(--note-default-border);
  border: 1px solid var(--note-default-border);
}
.note__success {
  .note__row {
    background-color: var(--note-success);
  }
  background-color: var(--note-success);
  box-shadow: 0 var(--off-1) 0 0 var(--note-success-border);
  border: 1px solid var(--note-success-border);
}
.note__error {
  .note__row {
    background-color: var(--note-error);
  }
  background-color: var(--note-error);
  box-shadow: 0 var(--off-1) 0 0 var(--note-error-border);
  border: 1px solid var(--note-error-border);
}
.note__warning {
  .note__row {
    background-color: var(--note-warning);
  }
  background-color: var(--note-warning);
  box-shadow: 0 var(--off-1) 0 0 var(--note-warning-border);
  border: 1px solid var(--note-warning-border);
}
