/* BEGIN - Table of Contents ==================================== *

   +   Next.js Wrapper
   +   Main Wrapper

 * END   - Table of Contents ==================================== */

/* # Next.js Wrapper */
.next_wrapper {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  background-color: var(--loosed-white);
  color: var(--main-text-color);
}

/* # Main Wrapper */
.main_wrapper {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.not_found {
  left: 6vw;
  right: 6vw;
  position: relative;
  padding: 3em 0;

  img {
    padding-bottom: 2em;
  }
}
