.search {
  position: absolute;
  right: 6vw;
  top: 2.75em;
  cursor: pointer;
  padding: 0.5em;

  &:hover svg {
    color: var(--loosed-highlight-1);
  }
}

.searchInput {
  font-size: var(--medium);
  border-radius: 8px;
  border: none;
  height: 50px;
  width: 100%;
  padding: 0.3em 1em 0.25em 1em;
  background: linear-gradient(135deg, var(--loosed-white), var(--loosed-white), var(--main-box-shadow));
  box-shadow: inset 0 0 1px 1px var(--main-box-shadow), 0 0 1px 1px var(--loosed-black);
}

.searchWrapper {
  width: 400px;
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  position: relative;

  svg {
    position: absolute;
    fill: var(--search-icon);
    right: 1em;
    top: 10px;
  }
}
