.tags {
  @apply
    font-mono
    relative
    inline-flex
    z-20
    w-full
    overflow-x-auto
    gap-2
    pb-1;

  &::-webkit-scrollbar-track {
    @apply h-1 bg-transparent;
  }

  &::-webkit-scrollbar {
    @apply h-1 bg-black/5 dark:bg-white/5;
  }

  &::-webkit-scrollbar-thumb {
    @apply h-1 bg-black/30 dark:bg-white/35 rounded-sm;
  }

  a.tag {
    --opy-1: 0.75;
    @apply
      relative
      flex
      text-black
      dark:text-white
      rounded
      text-center
      cursor-pointer
      w-fit
      self-center
      whitespace-nowrap
      py-1
      pl-3
      pr-4
      border-b-2
      border-l-2
      border-solid
      border-black/75
      text-sm;

    box-shadow: inset -1px 1px 1px 1px rgba(255,255,255,var(--opy-1));
    transition: all var(--loosed-transition-fast) ease;
    height: 30px;

    span {
      line-height: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0;
      height: 100%;
    }

    ::after {
      display: none;
    }

    &:hover,
    &:focus {
      --opy-1: 0.25;
      border: 1px solid black;
      box-shadow: inset -1px 1px 1px 1px rgba(255,255,255,var(--opy-1));
    }
  }
}

:global(.dark) {
  .tags {
    a.tag {
      --opy-1: 1;
      --off-1: 2px;
      border-width: 0;
      box-shadow: inset 0 0 var(--off-1) 1px rgba(0,0,0,var(--opy-1));

      &:hover,
      &:focus {
        --opy-1: 0;
        --off-1: 1px;
        box-shadow: inset 0 0 var(--off-1) 1px rgba(0,0,0,var(--opy-1));
        border: none;
        border-width: 0;
      }
    }
  }
}
