/* BEGIN - Table of Contents ==================================== *

 * END   - Table of Contents ==================================== */

.title__wrapper {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  padding: 2em 0 0 0;
}

.title__word_logo path {
  fill: var(--loosed-black);
}
.title__word_logo:hover path {
  fill: var(--loosed-highlight-1);
}
