/* #* Table of Contents */
.toc__wrapper {
  --toc-width: 220px;
  width: fit-content;
  display: inline-flex;

  @media screen and (min-width: 576px) {
    --toc-width: 275px;
  }
}
.toc__inner {
  width: var(--toc-width);
  backdrop-filter: blur(3px);
  text-align: left;
  margin: 0 0 0 auto;
  display: inline-block;
  border: 1px solid var(--main-box-shadow);
  box-shadow: 0 var(--off-1) 0 0 var(--main-box-shadow);
  border-radius: var(--rad-1);
  background-color: var(--meta-header-bg);
  height: 38px;

  &::after {
    z-index: -1;
    border-radius: var(--rad-1);
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }

  &:hover {
    --off-1: 0;
  }
}

/* Hidden input checkbox */
input.toc__hidden {
  display: none;
}


input.toc__hidden:checked ~ .toc__wrapper {
  .toc__inner {
    border-radius: var(--rad-1) var(--rad-1) 0 0;
    box-shadow: none;
    &::after {
      border-radius: var(--rad-1) var(--rad-1) 0 0;
    }
  }

  label.toc__header svg.toc__caret {
    transform: rotate(90deg);
  }

  nav.toc__block {
    max-height: 500px;
    opacity: 1;
    z-index: 1;
  }

  label.toc__header {
    border-radius: var(--rad-1) var(--rad-1) 0 0;
  }
}

input.toc__hidden:not(:checked) ~ .toc__wrapper {
  nav.toc__block {
    max-height: 0;
    opacity: 0;
    & > ol {
      padding: 0;
      max-height: inherit;

      li {
        visibility: hidden;
      }
    }
  }
}

label.toc__header {
  position: relative;
  display: flex;
  cursor: pointer;
  border-radius: var(--rad-1);
  max-width: 100%;
  justify-content: space-between;
  padding: 0.125em 0.5em 0.125em 1em;
}

h4.toc__label {
  width: 100%;
  content: "Table of Contents";
  font-family: var(--jetbrains-mono);
  line-height: 32px;
  display: inline-flex;
  user-select: none;
  margin-top: 1px;
  text-align: left;
  font-size: var(--normal);
  font-weight: bold;
  margin-bottom: 0;
}

svg.toc__caret {
  display: inline-flex;
  transform: rotate(0deg);
  transition: transform var(--loosed-transition-medm) ease;
  stroke: var(--loosed-black);
  right: 5px;
  position: relative;
  height: auto;
  width: 18px;

  @media screen and (min-width: 576px) {
    width: 20px;
  }
}

nav.toc__block {
  border-radius: 0 0 var(--rad-1) var(--rad-1);
  max-height: 0;
  opacity: 0;
  z-index: -10;
  position: relative;
  top: -1px;
  left: -1px;
  width: var(--toc-width);
  transition: opacity var(--loosed-transition-fast) ease, max-height var(--loosed-transition-fast) ease;
  background-color: var(--meta-header-bg);
  border: 1px solid var(--main-box-shadow);
  overflow-y: auto;

  &::-webkit-scrollbar-track {
    background: transparent;
    width: 4px;
    margin: 0.25em 0 0.5em 0;
  }

  &::-webkit-scrollbar {
    background: var(--scrollbar-color);
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border-radius: 2px;
    width: 4px;
  }

  & > ol {
    font-size: var(--small);
    list-style: none;
    line-height: 125%;
    margin: 0;
    padding: 0.5em 1em;
    background-color: inherit;

    li.toc__h3 {
      border-left: 1px solid var(--indent-1);
      padding-left: 1em;
      list-style: none;
      margin-bottom: 0;

      &::marker {
        display: none;
      }

      &:hover {
        border-color: var(--loosed-highlight-1);
      }

      & + li:not(.toc__h3) {
        margin-top: 0.5em;
      }
    }

    li:not(.toc__h3) {
      & + li.toc__h3 {
        margin-top: 0.5em;
      }
    }

    li {
      padding-top: 0.5em;
      padding-bottom: 0.5em;

      a:hover {
        color: var(--loosed-highlight-1);
      }
    }
  }

  &::after {
    z-index: -1;
    top: 0;
    left: 0;
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    display: block;
    background-color: var(--meta-header-bg);
    border-radius: 0 0 var(--rad-1) var(--rad-1);
  }
}

.toc__sub_heading {
  color: var(--main-text-color);
  font-family: var(--jetbrains-mono);

  &:hover li {
    color: var(--loosed-highlight-1);
  }
}
