/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./src/styles/Title.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* BEGIN - Table of Contents ==================================== *

 * END   - Table of Contents ==================================== */
.Title_title__wrapper__5ZuxJ {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  padding: 2em 0 0 0;
}

.Title_title__word_logo__wqIWh path {
  fill: var(--loosed-black);
}

.Title_title__word_logo__wqIWh:hover path {
  fill: var(--loosed-highlight-1);
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./src/styles/Donate.module.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Donate_donate_overlay__QOlae:not(.Donate_open__cKCNR) {
  display: none !important;
}

.Donate_menu_text__PAZDe {
  max-width: 280px;
  font-size: 80%;
  align-self: center;
  background-color: var(--donate-menu-background-color);
  padding: 2em 1.5em;
  border-radius: 10px;
  box-shadow: 0 0 0 1px var(--menu-box-shadow);
}

.Donate_donate_overlay__QOlae {
  --button-border-radius: 5px;
  z-index: 999;
  background-color: var(--overlay-background-color);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Donate_donate_overlay__QOlae:not(.Donate_menu_text__PAZDe):hover {
  cursor: pointer;
}

.Donate_donate__cF6of {
  position: absolute;
  top: 0.5em;
  right: 1.5em;
  cursor: pointer;
  padding: 0;
  font-size: 100%;
  font-family: inherit;
  background: transparent;
  color: var(--loosed-black);
  font-style: oblique;
  border: none;
}

.Donate_donate__cF6of:hover,
.Donate_donate__cF6of:focus {
  border-bottom: 1px solid var(--loosed-black);
}

.Donate_donate_button__ElpI1 {
  position: relative;
  background-color: var(--loosed-black);
  color: var(--loosed-white);
  display: block;
  width: 100%;
  text-align: center;
  padding: 0.5em 2em;
  border-radius: var(--button-border-radius);
  margin-bottom: 10px;
  text-transform: uppercase;
}

.Donate_venmo__PLrdh:hover,
.Donate_venmo__PLrdh:focus {
  background-color: #3d95ce !important;
}

.Donate_paypal__e_6S4:hover,
.Donate_paypal__e_6S4:focus {
  background-color: #253B80 !important;
}

.Donate_btc__mDzx_:hover,
.Donate_btc__mDzx_:focus {
  background-color: #f2a900 !important;
}

.Donate_eth__S81SS:hover,
.Donate_eth__S81SS:focus {
  background-color: #555555 !important;
}

.Donate_paypal__e_6S4:hover,
.Donate_paypal__e_6S4:focus,
.Donate_eth__S81SS:hover,
.Donate_eth__S81SS:focus {
  color: #fff;
}

.Donate_donate_button__ElpI1::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: var(--button-border-radius);
  transition: all var(--loosed-transition-medm) ease;
  box-shadow: 0 0 8px 0 var(--donate-button-box-shadow);
  opacity: 0;
}

.Donate_donate_button__ElpI1:hover::before,
.Donate_donate_button__ElpI1:focus::before {
  opacity: 1;
}

.Donate_ethereum__lRbsC {
  fill: var(--loosed-highlight-1);
  height: 75px;
  padding-bottom: 20px;
  width: 100%;
}

.Donate_eth_1__3WxKg,
.Donate_eth_2__PGw3B,
.Donate_eth_3__tle3f,
.Donate_eth_4__3uMxZ,
.Donate_eth_5__PS_a9 {
  animation-direction: alternate;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-name: Donate_eth_animation__meTok;
}

.Donate_eth_5__PS_a9 {
  animation-delay: 1s;
}

.Donate_eth_4__3uMxZ {
  animation-delay: 0.75s;
}

.Donate_eth_3__tle3f {
  animation-delay: 0.5s;
}

.Donate_eth_2__PGw3B {
  animation-delay: 0.25s;
}

.Donate_eth_1__3WxKg {
  animation-delay: 0s;
}

/* # Ethereum animation ------------------ */
@keyframes Donate_eth_animation__meTok {
  0% {
    opacity: 0.25;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./src/styles/Page.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* BEGIN - Table of Contents ==================================== *

   +   Next.js Wrapper
   +   Main Wrapper

 * END   - Table of Contents ==================================== */
/* # Next.js Wrapper */
.Page_next_wrapper__2swTv {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  background-color: var(--loosed-white);
  color: var(--main-text-color);
}

/* # Main Wrapper */
.Page_main_wrapper__wUFR8 {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./src/styles/DarkModeToggle.module.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.DarkModeToggle_dark_toggle__l_g_4 {
  display: var(--dark-display) !important;
}

.DarkModeToggle_light_toggle__Lajxq {
  display: var(--light-display) !important;
}

.DarkModeToggle_dark_toggle__l_g_4,
.DarkModeToggle_light_toggle__Lajxq {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 0;
  top: calc(1.5em + 2px);
  cursor: pointer;
  transform: translateX(-50%);
  border-style: none;
  border-radius: 35px;
  padding: 5px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
  background-color: var(--normal-background);
}

.DarkModeToggle_dark_toggle__l_g_4::before,
.DarkModeToggle_light_toggle__Lajxq::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 35px;
  top: 0;
  left: 0;
  opacity: 0;
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.2), inset -1px -1px 1px rgba(0, 0, 0, 0.2), 0 2px 10px 0 var(--toggle-hover-glow);
}

.DarkModeToggle_dark_toggle__l_g_4:hover::before,
.DarkModeToggle_dark_toggle__l_g_4:focus::before,
.DarkModeToggle_light_toggle__Lajxq:hover::before,
.DarkModeToggle_light_toggle__Lajxq:focus::before {
  background-color: var(--hover-background);
  opacity: 1;
}

.DarkModeToggle_dark_toggle__l_g_4 svg,
.DarkModeToggle_light_toggle__Lajxq svg {
  width: 100%;
  height: 100%;
  top: unset !important;
  right: unset !important;
  bottom: unset !important;
  left: unset !important;
}

.DarkModeToggle_toggle_wrapper__0fX6i {
  display: block;
  width: 60px;
  height: 60px;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./src/styles/MenuOverlay.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.MenuOverlay_menu_overlay__qNBPf {
  --menu-item-hover-background: var(--loosed-black);
  --menu-item-hover-color: var(--loosed-white);
  display: flex;
  position: relative;
  height: 100%;
  z-index: 999;
  justify-content: left;
  transition: width var(--loosed-transition-medm) ease, opacity var(--loosed-transition-medm) ease, min-width var(--loosed-transition-medm) ease;
  overflow: hidden;
}

.MenuOverlay_menu_checkbox__aG2cc:checked ~ .MenuOverlay_menu_overlay__qNBPf,
.MenuOverlay_menu_checkbox__aG2cc:checked ~ .MenuOverlay_menu_text__2kF7b {
  width: 250px;
  min-width: 251px;
  opacity: 1;
}

.MenuOverlay_menu_checkbox__aG2cc:checked ~ #MenuOverlay_main_wrapper__QxUyP {
  width: calc(100% - 251px);
}

.MenuOverlay_menu_checkbox__aG2cc:checked ~ .MenuOverlay_close_area__l8N_p {
  width: 100%;
  opacity: 1;
}

.MenuOverlay_menu_checkbox__aG2cc:not(:checked) + .MenuOverlay_menu_overlay__qNBPf,
.MenuOverlay_menu_checkbox__aG2cc:not(:checked) + .MenuOverlay_menu_overlay__qNBPf .MenuOverlay_menu_text__2kF7b {
  width: 0;
  min-width: 0;
  opacity: 0;
}

.MenuOverlay_close_area__l8N_p {
  width: 0;
  cursor: pointer;
  opacity: 0;
  transition: opacity var(--loosed-transition-medm) ease;
  display: block;
  position: fixed;
  height: 100%;
  z-index: 998;
  left: 0;
  top: 0;
  background-color: var(--overlay-background-color);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
}

.MenuOverlay_menu_text__2kF7b {
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 1.5em;
  z-index: 999;
  position: fixed;
  overflow: hidden;
  width: 250px;
  height: 100%;
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  transition: width var(--loosed-transition-medm) ease, opacity var(--loosed-transition-medm) ease, min-width var(--loosed-transition-medm) ease;
  background-color: var(--menu-background-color);
  box-shadow: 0 0 0 1px var(--menu-box-shadow);
}

.MenuOverlay_hidden__Hzze0 .MenuOverlay_menu_text__2kF7b {
  opacity: 0 !important;
}

.MenuOverlay_close_menu__PoolB {
  border: none;
  background: transparent;
  margin: 0.5em 0 1em 0;
  display: flex;
  flex-direction: row;
  padding: 0;
}

.MenuOverlay_close_menu__PoolB svg {
  height: 40px;
  width: 40px;
  stroke: var(--loosed-black);
}

button.MenuOverlay_close_menu__PoolB:hover svg,
button.MenuOverlay_close_menu__PoolB:focus svg {
  cursor: pointer;
  stroke: var(--loosed-highlight-1);
}

.MenuOverlay_menu_text__2kF7b a p {
  color: var(--loosed-black);
  display: flex;
  text-align: left;
  border-radius: 3px;
  margin: 0.25em 0;
  padding: 3px 0.25em;
  font-size: var(--medium);
  cursor: pointer;
}

.MenuOverlay_menu_text__2kF7b a:hover p,
.MenuOverlay_menu_text__2kF7b a:focus p {
  background-color: var(--menu-item-hover-background);
  color: var(--menu-item-hover-color);
}

.MenuOverlay_menu_controls__4bIiP {
  display: inline-flex;
  justify-content: space-between;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./src/styles/MenuToggle.module.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* BEGIN - Table of Contents ==================================== *

   *   Wifi Animation --------------------

 * END   - Table of Contents ==================================== */
.MenuToggle_header_logo__VbYrB {
  position: fixed;
  top: 2em;
  left: 2em;
  cursor: pointer;
  height: 70px;
  width: 70px;
  z-index: 998;
  background: none;
  border: none;
}

.MenuToggle_header_logo__VbYrB svg {
  height: 70px;
  width: 70px;
  border-radius: 35px;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  transition: opacity 0.5s ease;
  transition: filter 0.5s ease;
}

.MenuToggle_header_logo__VbYrB:not(.MenuToggle_parked_top__12oop) svg {
  box-shadow: inset 0 0 0 2px var(--menu-border), 0 0 3px 0 var(--menu-toggle-box-shadow);
  background-color: var(--menu-toggle-background);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.MenuToggle_header_logo__VbYrB path {
  fill: var(--loosed-black);
}

.MenuToggle_header_logo__VbYrB::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 35px;
  top: 0;
  left: 0;
  box-shadow: 0 0 12px 2px var(--menu-toggle-box-shadow);
  opacity: 0;
  transition: all var(--loosed-transition-medm) ease;
}

.MenuToggle_header_logo__VbYrB:hover svg,
.MenuToggle_header_logo__VbYrB:focus svg,
.MenuToggle_label_wrapper__VqLBG:focus .MenuToggle_header_logo__VbYrB svg,
.MenuToggle_header_logo__VbYrB svg:focus,
.MenuToggle_header_logo__VbYrB svg:hover {
  background-color: var(--loosed-highlight-1);
  box-shadow: inset 0 0 0 2px var(--menu-border), 0 2px 2px 0 var(--menu-toggle-box-shadow);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.MenuToggle_header_logo__VbYrB:hover::before,
.MenuToggle_header_logo__VbYrB:focus::before,
.MenuToggle_label_wrapper__VqLBG:focus .MenuToggle_header_logo__VbYrB::before {
  opacity: 1;
}

.MenuToggle_logo_wifi1__3zBW0,
.MenuToggle_logo_wifi2__h6cxC,
.MenuToggle_logo_wifi3__v_6SC {
  animation-direction: normal;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: MenuToggle_wifi_animation__wyjO2;
}

.MenuToggle_logo_wifi1__3zBW0 {
  animation-delay: 0.5s;
}

.MenuToggle_logo_wifi2__h6cxC {
  animation-delay: 0.25s;
}

.MenuToggle_logo_wifi3__v_6SC {
  animation-delay: 0s;
}

/* ## Wifi Animation -------------------- */
@keyframes MenuToggle_wifi_animation__wyjO2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./src/styles/ScrollTop.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* # Scroll To Top ----------------------- */
.ScrollTop_scrollTop__Vti2m {
  border: none;
  box-shadow: 5px 5px 55px 5px var(--scroll-top-shadow);
  cursor: pointer;
  height: 50px;
  width: 50px;
  right: 10px;
  bottom: 10px;
  position: fixed;
  text-align: center;
  z-index: 10;
  background-color: var(--scroll-top-bg);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  transform: rotate(0);
  font-size: 100%;
  border-radius: 100%;
}

.ScrollTop_scrollTop__Vti2m:hover,
.ScrollTop_scrollTop__Vti2m:active {
  background-color: var(--scroll-top-hover);
  box-shadow: inset 0 -1px 5px rgba(0, 0, 0, 0.3), inset 0 1px 2px rgba(255, 255, 255, 0.5);
}
.ScrollTop_scrollTop__Vti2m:hover svg,
.ScrollTop_scrollTop__Vti2m:active svg {
  fill: #ffffff;
}
.ScrollTop_scrollTop__Vti2m:hover span,
.ScrollTop_scrollTop__Vti2m:active span {
  color: #ffffff;
}

.ScrollTop_scrollTop__Vti2m svg {
  animation: ScrollTop_bounce__LIsVG 5s linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
  fill: var(--scroll-top-svg);
  height: 25px;
  width: 25px;
  transform: translateY(4px);
  margin-top: -2px;
}
@keyframes ScrollTop_bounce__LIsVG {
  0% {
    transform: translateY(4px);
  }
  5% {
    transform: translateY(-1px);
  }
  10% {
    transform: translateY(4px);
  }
  15% {
    transform: translateY(-1px);
  }
  20% {
    transform: translateY(4px);
  }
  100% {
    transform: translateY(4px);
  }
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./src/styles/Home.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* BEGIN - Table of Contents ==================================== *

   +   Homepage

 * END   - Table of Contents ==================================== */
/* # Homepage
 * ------------------------- */
.Home_homepage__3aNDI {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.Home_homepage__content__vg8y5 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2em 2em 4em 2em;
  column-gap: 1.5em;
  row-gap: 1.5em;
  justify-content: center;
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./src/styles/Footer.module.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Footer_footer__NzM_y p {
  word-wrap: normal;
  text-align: center;
  word-break: keep-all;
}

.Footer_footer__NzM_y a,
.Footer_footer__NzM_y a p {
  --offset: 5px;
  white-space: nowrap;
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
  transition: text-underline-offset var(--loosed-transition-medm) linear, -webkit-text-decoration-color var(--loosed-transition-medm) linear;
  transition: text-underline-offset var(--loosed-transition-medm) linear, text-decoration-color var(--loosed-transition-medm) linear;
  transition: text-underline-offset var(--loosed-transition-medm) linear, text-decoration-color var(--loosed-transition-medm) linear, -webkit-text-decoration-color var(--loosed-transition-medm) linear;
  -webkit-text-decoration-color: transparent;
          text-decoration-color: transparent;
  text-underline-offset: var(--offset);
}

.Footer_footer__NzM_y a:hover,
.Footer_footer__NzM_y a:focus,
.Footer_footer__NzM_y a:hover p,
.Footer_footer__NzM_y a:focus p {
  --offset: 2px;
  font-weight: bold;
  color: var(--loosed-highlight-1);
  -webkit-text-decoration-color: var(--loosed-highlight-1);
          text-decoration-color: var(--loosed-highlight-1);
  text-underline-offset: var(--offset);
}

.Footer_link_section__p_Fdu {
  width: 100%;
  border-top: 1px solid var(--footer-border);
  background-color: var(--link-section-bg);
}

.Footer_link_row__aLjBr {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-column-gap: 4em;
  column-gap: 4em;
  grid-row-gap: 4em;
  row-gap: 4em;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: min(100%, 1200px);
  padding: 3em 3em;
  margin: auto;
  line-height: 200%;
}
.Footer_link_row__aLjBr h4 {
  margin: 0 auto 0.75em auto;
  width: 100%;
}
.Footer_link_row__aLjBr p {
  font-size: var(--small);
  margin-bottom: 0;
}
.Footer_link_row__aLjBr .Footer_link_col__U5q4E {
  grid-column: span 4/span 4;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.Footer_footer__NzM_y {
  background: transparent;
  margin-top: auto;
}

.Footer_webrings_row__ziCSX {
  display: flex;
  flex-direction: row;
  padding: 3em 2em 3.5em 2em;
  border-top: 1px solid var(--footer-border) !important;
  background-color: var(--link-section-bg);
}

.Footer_webring___CNsI {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Footer_geekring__bM_aM {
  padding: 1em 2em;
}

.Footer_geekring_row___bVAH {
  max-width: 350px;
  text-align: center;
  font-size: var(--small);
}

.Footer_icon__GFmB3:hover path,
a:focus .Footer_icon__GFmB3 path {
  stroke: var(--loosed-highlight-1);
}

.Footer_icon__GFmB3 path {
  stroke: var(--loosed-black);
}

.Footer_link__E0PGn {
  height: 24px;
  margin-bottom: 1em;
  display: block;
  text-align: left;
}
.Footer_link__E0PGn p,
.Footer_link__E0PGn svg {
  display: inline-flex;
  line-height: 24px;
  vertical-align: middle;
}
.Footer_link__E0PGn p {
  color: var(--footer-icon);
  padding-right: 5px;
}
.Footer_link__E0PGn svg {
  padding: 0.25em;
  fill: var(--footer-icon);
  margin-right: 0.5em;
  margin-bottom: 0px;
}
.Footer_link__E0PGn a:hover svg,
.Footer_link__E0PGn a:focus svg {
  fill: var(--loosed-highlight-1);
}

@media screen and (max-width: 1199px) {
  .Footer_link__E0PGn,
  .Footer_webring___CNsI {
    width: 100%;
  }
  .Footer_webrings_row__ziCSX {
    flex-direction: column;
  }
  .Footer_link_col__U5q4E {
    min-width: 200px;
    padding: 0 0 1em 0;
  }
  .Footer_link_col__U5q4E h4 {
    text-align: left;
  }
  .Footer_geekring_row___bVAH {
    width: 100%;
  }
  .Footer_webring___CNsI:last-child {
    margin: 2em auto;
    padding: 2em 0 0 0;
    max-width: 100px;
    border-top: 1px solid var(--webring-center-border);
  }
}
@media screen and (min-width: 576px) {
  .Footer_link_col__U5q4E {
    grid-column: span 2/span 2 !important;
  }
}
@media screen and (min-width: 1200px) {
  .Footer_link_col__U5q4E {
    grid-column: span 1/span 1 !important;
    padding: 0 2em 1em 2em;
  }
  .Footer_webring___CNsI:last-child {
    border-left: 1px solid var(--webring-center-border);
  }
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./src/styles/Tags.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Tags_tags__3MAFZ {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5em;
}
.Tags_tags__3MAFZ span.Tags_tag__MWHMz {
  color: var(--loosed-white);
  border-radius: 4px;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  align-self: center;
  padding: 0.25em 0.5em;
  font-size: var(--small);
}
.Tags_tags__3MAFZ span.Tags_tag__MWHMz ::after {
  display: none;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./src/styles/Card.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* BEGIN - Table of Contents ==================================== *

   +   Components
     *   Card

 * END   - Table of Contents ==================================== */
/* # Components
 * ------------------------- */
/* ## Card
 * ------------------------- */
.Card_card__wrapper__1d_bL {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2em;
}

.Card_card__p0ho7 {
  --card-radius: 10px;
  border-radius: var(--card-radius);
  width: min(300px, 100vw);
  position: relative;
  display: inline-block;
  transition: all var(--loosed-transition-fast) ease;
  box-shadow: 0 0 1px 1px var(--card-shadow);
  color: var(--loosed-black);
}
.Card_card__p0ho7::after {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  position: absolute;
  content: "";
  display: block;
  border-radius: var(--card-radius);
  background-color: var(--card-hover-background);
  box-shadow: 0 0 8px 1px var(--card-shadow);
  transition: all var(--loosed-transition-medm) ease;
  opacity: 0.25;
}

.Card_card__p0ho7:hover::after,
a:focus-visible .Card_card__p0ho7::after {
  opacity: 0.5;
  box-shadow: 0 0 10px 1px var(--card-shadow);
}

.Card_card__p0ho7:active::after {
  box-shadow: 0 0 20px 1px var(--card-active);
  opacity: 1;
}

.Card_card__p0ho7:hover .Card_card__thumbnail_wrapper__g8hH4,
a:focus-visible .Card_card__p0ho7 .Card_card__thumbnail_wrapper__g8hH4 {
  transform: scale(1);
}

.Card_card__thumbnail_wrapper__g8hH4 {
  transition: all var(--loosed-transition-medm) ease;
  border-radius: calc(var(--card-radius) - 2px) calc(var(--card-radius) - 2px) 0 0;
  position: relative;
  height: 200px;
  transform: scale(0.98);
}

.Card_card__thumbnail__A1XDW {
  border-radius: calc(var(--card-radius) - 2px) calc(var(--card-radius) - 2px) 0 0;
  height: auto;
  object-fit: cover;
  filter: saturate(0.5);
  -webkit-backdrop-filter: brightness(0.8);
          backdrop-filter: brightness(0.8);
}

.Card_card__p0ho7:hover .Card_card__thumbnail__A1XDW,
a:focus-visible .Card_card__p0ho7 .Card_card__thumbnail__A1XDW {
  filter: saturate(1);
}

.Card_card__meta__AIn5N {
  font-size: var(--small);
  display: flex;
  gap: 0.75em;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.Card_card__author__BawEN,
.Card_card__date__m5K8_ {
  display: flex;
  font-size: var(--small);
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  color: var(--loosed-white);
  background-color: var(--loosed-black);
  margin: auto;
  padding: 0.125em 0.5em;
  border-radius: 3px;
  white-space: nowrap;
}

.Card_card__author__BawEN {
  width: 100%;
  display: block;
}

.Card_card__date__m5K8_ {
  width: 100%;
  display: block;
}

.Card_card__description__PcBC_ {
  line-height: 1.25em;
  max-height: 6.25em;
  margin-bottom: 2em;
  overflow: hidden;
}

.Card_card__description__PcBC_:before {
  content: "...";
  position: absolute;
  left: 1em;
  bottom: 3.75em;
}

.Card_card__cropped__aM_7w {
  max-height: none;
  margin-bottom: 5px;
}

.Card_card__cropped__aM_7w:before {
  display: none;
}

.Card_card__head__35VKT {
  padding: 1.25em 1.25em 1em 1.25em;
}

.Card_card__head__35VKT h2 {
  margin: 0 0 0.5em 0 !important;
  text-transform: uppercase;
  font-weight: 900;
  font-size: var(--large);
  line-height: 1em;
  letter-spacing: -0.05em;
  word-spacing: -0.35em;
  -webkit-hyphens: auto;
          hyphens: auto;
}

.Card_card__head__35VKT h2::after {
  display: none;
}

.Card_card__body__9XZw_ {
  padding: 0 1.25em 1.25em 1.25em;
  font-size: var(--small);
}
