Django
Pillow
Pygments
coreapi
django-cors-headers
django-filter
django-taggit
django-tinymce
django-tree-queries
django-webmention
django-widget-tweaks
djangorestframework
drf-yasg
easy-thumbnails
blurhash
numpy
gunicorn
markdown
psycopg2-binary
python-frontmatter
pyyaml
